@use '../setting/setting' as *;
@use '../setting/mixin' as *;

.area{
  &__wrapper{
    position: relative;
    margin-top: get_vw(-46);
    padding-top: get_vw(126);
    padding-bottom: get_vw(100);
    @include pc-fluid-size(margin-top, (-0));
    @include pc-fluid-size(padding-top, (190));
    @include pc-fluid-size(padding-bottom, (198));

  }
  &__bg{
    background-image: url('../img/common/pink_bg.png');
    background-size: 100% 100%;
    width: 100%;
    height: get_vw(232);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    pointer-events: none;
    @include pc-fluid-size(height, (378));
    @include min-screen{
      background-image: url('../img/common/pink_bg_pc.png');
    }
  }
  &__h1{
    margin-top: get_vw(32);
    position: relative;
    font-size: get_vw(24);
    color: $c_white;
    text-align: center;
    @include pc-fluid-size(margin-top, (40));
    @include pc-fluid-size(font-size, (56));
  }
  &__nav{
    @include anchor-nav;

    &--list {
      margin: get_vw(52) auto 0;
      @include pc-fluid-size(width, (428));
      @include pc-fluid-size(margin-top, (108));
    }

    &--item {
      padding-inline: get_vw(11);
    }
  }
  &__section{
    margin-top: get_vw(80);
    padding-inline: get_vw(20);
    @include pc-fluid-size(margin-top, (95));
    @include pc-fluid-size(padding-inline, (78));
    & p{
      margin-top: get_vw(80);
      font-size: get_vw(18);
      font-weight: 300;
      line-height: calc(28/18);
      @include pc-fluid-size(margin-top, (95));
      @include pc-fluid-size(font-size, (18));
    }
    &>p{
      @include pc-fluid-size(width, (1000));
      @include min-screen{
        margin-inline: auto
      }
      
    }
    &.plan,&.action{
        @include pc-fluid-size(padding-inline, (142));
    }
    &.gallery{
      width: 100%;
      margin-top: get_vw(80);
      margin-inline: auto;
      background-color: $c_white;
      border-radius: get_vw(20);
      overflow: hidden;
      @include pc-fluid-size(width, (1280));
      @include pc-fluid-size(margin-top, (100));
      @include pc-fluid-size(border-radius, (40));
      @include pc-fluid-size(padding, (00));
    }
  }
  &__h2{
    font-size: get_vw(24);
    color: $c_black;
    text-align: center;
    position: relative;
    line-height: calc(34/24);
    @include pc-fluid-size(font-size, (40));
    @include after{
      background-color: $common_h2;
      width: get_vw(25);
      height: get_vw(2);
      border-radius: get_vw(20);
      position: absolute;
      bottom: get_vw(-20);
      left: 50%;
      transform: translateX(-50%);
      @include pc-fluid-size(width, (25));
      @include pc-fluid-size(height, (2));
      @include pc-fluid-size(bottom, (-16));
    }
  }
  &__container{
    margin-top: get_vw(80);
    @include pc-fluid-size(margin-top, (80));
    @include pc-fluid-size(padding-inline, (142));
    &.about{
      @include min-screen{
        padding: 0;
      }
    }
    & h3{
      font-size: get_vw(24);
      font-weight: 500;
      text-align: center;
      @include pc-fluid-size(font-size, (32));
    }
    & span{
      display: block;
      margin-bottom: get_vw(8);
      font-weight: 500;
      @include pc-fluid-size(margin-bottom, (10));
    }
    & strong{
      display: block;
      margin-top: get_vw(40);
      color: $c_red;
      font-size: get_vw(24);
      font-weight: 500;
      line-height: calc(40/24);
      text-align: center;
      @include pc-fluid-size(margin-top, (40));
      @include pc-fluid-size(font-size, (32));
    }
  }
  &__map{
    margin-top: get_vw(40);
    margin-inline: auto;
    background-color: $c_lightgray;
    border-radius: get_vw(20);
    padding: get_vw(60) get_vw(14);
    overflow: hidden;
    @include pc-fluid-size(width, (1280));
    @include pc-fluid-size(margin-top, (40));
    @include pc-fluid-size(padding, (80));
    @include pc-fluid-size(border-radius, (40));
  }
  
  &__content{
    @include min-screen{
      display: flex;
      align-items: center;
      @include pc-fluid-size(column-gap, (104));
    }
  }
  &__content-map{
    &>p{
      @include pc-fluid-size(margin-top, (0));
    }
  }
  &__txt{
    position: relative;
    @include pc-fluid-size(font-size, (20));
    @include pc-fluid-size(padding-left, (36));
    @include before{
      background-image: url('../img/top/info_icon.png');
      background-size: 100% 100%;
      @include pc-fluid-size(width, (26));
      @include pc-fluid-size(height, (26));
      position: absolute;
      top: 50%;
      @include pc-fluid-size(left, (0));
      transform: translateY(-50%);
    }
  }

  &__content-map-img{
    position: relative;
    @include pc-fluid-size(width, (594));
    @include pc-fluid-size(margin-top, (32));
  }

  &__button-item{
    position: absolute;
    background-color: $c_red;
    @include pc-fluid-size(padding, (8 56 10 24));
    @include pc-fluid-size(border-radius, (20));
    @include pc-fluid-size(font-size, (18));
    color: $c_white;
    font-weight: 500;
    @include center;
    transition: background-color 0.3s ease;
    @include before{
      background-image: url('../img/top/info_icon_white.png');
      background-size: 100% 100%;
      @include pc-fluid-size(width, (18));
      @include pc-fluid-size(height, (18));
      position: absolute;
      top: 50%;
      @include pc-fluid-size(right, (24));
      transform: translateY(-50%);
    }

    &[data-area="area1"]{
      background-color: $c_green;
      @include pc-fluid-size(top, (106));
      @include pc-fluid-size(left, (244));
    }

    &[data-area="area2"]{
      background-color: $c_red;
      @include pc-fluid-size(top, (240));
      @include pc-fluid-size(left, (396));
    }

    &[data-area="area3"]{
      background-color: $c_blue;
      @include pc-fluid-size(top, (270));
      @include pc-fluid-size(left, (154));
    }

    &[data-area="area4"]{
      background-color: $c_orange;
      @include pc-fluid-size(top, (468));
      @include pc-fluid-size(left, (240));
    }

    &[data-area="area5"]{
      background-color: $c_pink;
      @include pc-fluid-size(top, (518));
      @include pc-fluid-size(left, (332));
    }

    &[data-area="area6"]{
      background-color: $c_purple;
      @include pc-fluid-size(top, (390));
      @include pc-fluid-size(left, (65));
    }
    &.js-active{
      background-color: $c_black;
    }
    @include min-screen{
      &:hover{
        background-color: $c_black;
      }
    }
  }
  &__content-detail{
    margin-top: get_vw(54);
    @include pc-fluid-size(width, (420));
    @include pc-fluid-size(margin-top, (0));
  }
  &__detail{
    width: 100%;
    margin-inline: auto;
    background-color: $c_white;
    border-radius: get_vw(20);
    padding: get_vw(30) get_vw(15);
    overflow: hidden;
    display: block;
    border: solid get_vw(2) $common_font;
    @include pc-fluid-size(width, (420));
    @include pc-fluid-size(border-radius, (20));
    @include pc-fluid-size(padding, (40 30));
    @include pc-fluid-size(border-width, (2));
    @include min-screen{
      display: none;
    }
  &:not(:first-child){
    margin-top: get_vw(20);
    @include pc-fluid-size(margin-top, (0));
  }
  &>p.area__detail-subttl{
    margin-top: get_vw(30);
    font-size: get_vw(19);
    font-weight: 500;
    @include pc-fluid-size(margin-top, (20));
    @include pc-fluid-size(font-size, (18));
  }
  &>p.area__detail-txt{
    margin-top: get_vw(20);
    font-size: get_vw(14);
    font-weight: 300;
    line-height: calc(26/14);
    @include pc-fluid-size(margin-top, (10));
    @include pc-fluid-size(font-size, (14));
    @include pc-fluid-size(line-height, (24));
  }
    &.main{
      border-color: $c_green;
    }
    &.tora{
      border-color: $c_red;
    }
    &.kochi{
      border-color: $c_blue;
    }
    &.wing{
      border-color: $c_orange;
    }
    &.monchi{
      border-color: $c_pink;
    }
    &.iris{
      border-color: $c_purple;
    }
    &.js-active{
      display: block;
    }
  }
  &__detail-ttl{
    font-size: get_vw(26);
    font-size: 500;
    color: $common_h2;
    text-align: center;
    position: relative;
    @include pc-fluid-size(font-size, (32));
    &.main{
      color: $c_green;
    }
    &.tora{
      color: $c_red;
    }
    &.kochi{
      color: $c_blue;
    }
    &.wing{
      color: $c_orange;
    }
    &.monchi{
      color: $c_pink;
    }
    &.iris{
      color: $c_purple;
    }
  }
  &__detail-img{
    margin-top: get_vw(30);
    @include pc-fluid-size(margin-top, (18));
    & figcaption{
      font-size: get_vw(13);
      font-weight: 200;
      margin: get_vw(10) 0 0 auto;
      text-align: right;
      @include pc-fluid-size(font-size, (10));
      @include pc-fluid-size(margin-top, (10));
    }
  }

  &__map-btn{
    margin-top: get_vw(40);
    display: flex;
    flex-direction: column;
    row-gap: get_vw(20);
    @include pc-fluid-size(margin-top, (40));
    @include pc-fluid-size(column-gap, (20));
    @include center;
    @include min-screen{
      flex-direction: row;
      row-gap: 0;
      margin-inline: auto;
    }
    &>a{
      @include btn-i;
      width: get_vw(350);
      height: get_vw(50);
      font-size: get_vw(14);
      font-weight: 500;
      border-radius: get_vw(100);
      justify-content: center;
      @include pc-fluid-size(width, (260));
      @include pc-fluid-size(height, (50));
      @include pc-fluid-size(font-size, (14));
      @include min-screen{
        margin: 0;
        &:hover{
          @include after{
            background-color: $c_ivory;
          }
        }
      }
    }
  }

  &__gallery-container{
    margin-top: get_vw(80);
      @include pc-fluid-size(margin-top, (95));
      @include pc-fluid-size(column-gap, (20));
      @include min-screen{
        display: flex;
        flex-direction: row;
      }
  }
  &__gallery-box{
    width: get_vw(310);
    margin-inline: auto;
    padding: get_vw(36) get_vw(20) get_vw(40);
    background-color: $c_ivory;
    border-radius: get_vw(20);
    @include pc-fluid-size(width, (630));
    @include pc-fluid-size(padding, (40));
    @include pc-fluid-size(border-radius, (40));
    &:not(:first-child){
      margin-top: get_vw(40);
      @include pc-fluid-size(margin-top, (0));
    }
    &>p.area__gallery-box-ttl{
      font-size: get_vw(16);
      margin-top: 0;
      font-weight: 500;
      @include pc-fluid-size(font-size, (24));
    }
    &>p.area__gallery-box-txt{
      margin-top: get_vw(40);
      font-size: get_vw(18);
      font-weight: 300;
      line-height: calc(28/18);
      @include pc-fluid-size(margin-top, (40));
      @include pc-fluid-size(height, (72));
      @include pc-fluid-size(font-size, (18));
      @include min-screen{
        @include center;
      }
    }
  }
  &__gallery-box-ttl{
    font-size: get_vw(18);
    text-align: center;
    font-weight: 500;
    @include pc-fluid-size(font-size, (24));
  }

  &__gallery-resident,&__gallery-famous{
    margin-top: get_vw(14);
    width: 100%;
    @include pc-fluid-size(margin-top, (40));
  }

  &__gallery-resident-slide,&__gallery-famous-slide{
    border-radius: get_vw(20);
    overflow: hidden;
    aspect-ratio: 1.34;
    @include pc-fluid-size(border-radius, (20));
    @include min-screen{
      cursor: pointer;
    }
    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__gallery-resident-thumb,&__gallery-famous-thumb{
    margin-top: get_vw(5);
    @include pc-fluid-size(margin-top, (10));
  }

  &__gallery-resident-thumb-slide,&__gallery-famous-thumb-slide{
    border-radius: get_vw(10);
    width: get_vw(64);
    margin-right: get_vw(5);
    overflow: hidden;
    aspect-ratio: 1.33;
    border: solid transparent get_vw(2);
    filter: brightness(0.5);
    @include pc-fluid-size(margin-right, (12));
    @include pc-fluid-size(width, (128));
    @include pc-fluid-size(border-width, (2));
    @include pc-fluid-size(border-radius, (10));
    transition: all 0.4s ease;
    @include min-screen{
      cursor: pointer;
    }
    &:last-child{
      margin-right: 0;
    }
    &.swiper-slide-thumb-active{
      border-color: $c_blue;
      filter: brightness(1);
    }
    &:hover{
      border-color: $c_blue;
    }
    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__gallery-btn{
    @include btn-w;
    border-color: $c_white;
    display: block;
    margin-top: get_vw(38);
    width: get_vw(260);
    background-color: $c_white;
    @include center;
    @include pc-fluid-size(margin-top, (38));
    @include pc-fluid-size(width, (260));
  }
}