@use '../setting/setting' as *;
@use '../setting/mixin' as *;

.related {
  &__wrapper{
    position: relative;
    margin-top: get_vw(-46);
    padding-top: get_vw(126);
    padding-bottom: get_vw(100);
    @include pc-fluid-size(margin-top, (-0));
    @include pc-fluid-size(padding-top, (190));
    @include pc-fluid-size(padding-bottom, (198));

  }
  &__bg{
    background-image: url('../img/common/beige_bg.png');
    background-size: 100% 100%;
    width: 100%;
    height: get_vw(232);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    pointer-events: none;
    @include pc-fluid-size(height, (378));
    @include min-screen{
      background-image: url('../img/common/beige_bg_pc.png');
    }
  }
  &__h1{
    margin-top: get_vw(32);
    position: relative;
    font-size: get_vw(24);
    color: $c_black;
    text-align: center;
    @include pc-fluid-size(margin-top, (40));
    @include pc-fluid-size(font-size, (56));
  }
  &__section{
    margin-top: get_vw(80);
    padding-inline: get_vw(20);
    @include pc-fluid-size(margin-top, (100));
    @include pc-fluid-size(padding-inline, (78));

    &.link {
      margin-top: get_vw(105);
      @include pc-fluid-size(margin-top, (185));
    }
  }
  &__h2{
    font-size: get_vw(24);
    color: $c_black;
    text-align: center;
    position: relative;
    line-height: calc(34/24);
    @include pc-fluid-size(font-size, (40));
    @include after{
      background-color: $common_h2;
      width: get_vw(25);
      height: get_vw(2);
      border-radius: get_vw(20);
      position: absolute;
      bottom: get_vw(-20);
      left: 50%;
      transform: translateX(-50%);
      @include pc-fluid-size(width, (25));
      @include pc-fluid-size(height, (2));
      @include pc-fluid-size(bottom, (-16));
    }
  }
  &__btn {
    @include btn-i;
    margin-top: get_vw(60);
    @include pc-fluid-size(border-radius, (40));
    @include pc-fluid-size(width, (600));
    @include pc-fluid-size(height, (80));
    @include pc-fluid-size(margin-top, (100));

    span {
      @include pc-fluid-size(font-size, (18));
    }

    @include after() {
      @include pc-fluid-size(width, (60));
      @include pc-fluid-size(height, (60));
    }
  }
  &__zero-txt{
    width: get_vw(220);
    margin-inline: auto;
    font-size: get_vw(24);
    font-weight: 500;
    line-height: calc(32/24);
    text-align: center;
    color: $c_black;
    @include pc-fluid-size(font-size, (32));
    @include min-screen{
      width: 100%;
    }
  }
  &__list {
    margin: 0 auto;
    @include min-screen() {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    @include pc-fluid-size(padding, (100 0 0));
    @include pc-fluid-size(gap, (80, 50));
    
    &--item {
      text-align: center;
      padding: 0 get_vw(15);
      margin: get_vw(60) 0 0;
      @include pc-fluid-size(flex-basis, (320));
      @include pc-fluid-size(padding, (0));
      @include pc-fluid-size(margin, (0));
    }

    &--logo {
      width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
    }
    
    &--text {
      font-size: get_vw(24);
      line-height: calc(32/24);
      font-weight: $w_medium;
      margin: get_vw(12) 0 0;
      @include pc-fluid-size(font-size, (24));
      @include pc-fluid-size(margin, (0));
    }
  }
}