@use '../setting/setting' as *;
@use '../setting/mixin' as *;

.event{
  &__wrapper{
    position: relative;
    margin-top: get_vw(-46);
    padding-top: get_vw(126);
    padding-bottom: get_vw(104);
    @include pc-fluid-size(margin-top, (-0));
    @include pc-fluid-size(padding-top, (190));
    @include pc-fluid-size(padding-bottom, (100));
  }
  &__bg{
    background-image: url('../img/common/orange_bg.png');
    background-size: 100% 100%;
    width: 100%;
    height: get_vw(232);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    pointer-events: none;
    @include pc-fluid-size(height, (378));
    @include min-screen{
      background-image: url('../img/common/orange_bg_pc.png');
    }
  }
  &__bread{
    position: relative;
    font-size: get_vw(14);
    color: $c_white;
    padding-left: get_vw(20);
    @include pc-fluid-size(font-size, (14));
    @include pc-fluid-size(padding-left, (80));
    & span{
      &::after{
        content: '>';
        margin: 0 get_vw(8);
        @include pc-fluid-size(margin, (0 8));
      }
      &:last-of-type::after{
        content: '';
        margin: 0;
      }
    }
  }
  &__h1{
    margin-top: get_vw(32);
    position: relative;
    font-size: get_vw(24);
    color: $c_white;
    text-align: center;
    @include pc-fluid-size(margin-top, (40));
    @include pc-fluid-size(font-size, (56));
  }
  &__switch{
    width: 100%;
    height: get_vw(50);
    margin: get_vw(108) auto 0;
    padding: 0 get_vw(17);
    display: flex;
    flex-direction: row;
    column-gap: get_vw(2);
    overflow: hidden;
    @include pc-fluid-size(width, (428));
    @include pc-fluid-size(height, (50));
    @include pc-fluid-size(margin-top, (108));
    @include pc-fluid-size(padding, (0));
    @include pc-fluid-size(column-gap, (2));
    @include min-screen{
      margin-inline: center;
    }
  }
  &__switch-btn{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    font-size: get_vw(14);
    color: $c_black;
    background-color: $c_ivory;
    @include center;
    @include pc-fluid-size(font-size, (14));
    @include min-screen{
      cursor: pointer;
    }
    &.js-active{
      background-color: $c_lightgray;
      pointer-events: none;
    }
    &:first-child{
      border-radius: get_vw(10) 0 0 get_vw(10);
      @include pc-fluid-size(border-radius, (10 0 0 10));
    }
    &:last-child{
      border-radius: 0 get_vw(10) get_vw(10) 0;
      @include pc-fluid-size(border-radius, (0 10 10 0));
    }
  }
  &__calendar{
    margin-top: get_vw(80);
    @include pc-fluid-size(margin-top, (100));
  }
  &__calendar-search{
    margin-top: get_vw(106);
    padding: get_vw(0) get_vw(20);
    @include pc-fluid-size(margin-top, (186));
    @include pc-fluid-size(width, (775));
    @include pc-fluid-size(padding, (0));
    @include min-screen{
      margin-inline: auto;
    }
  }
  &__calendar-flex{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    &>p{
      padding-top: get_vw(17);
      font-size: get_vw(18);
      font-weight: 500;
      text-decoration: underline;
      text-underline-offset: get_vw(6);
      @include pc-fluid-size(padding-top, (17));
      @include pc-fluid-size(font-size, (18));
      @include pc-fluid-size(text-underline-offset, (6));
      @include min-screen{
        cursor: pointer;
      }
    }
    &>strong{
      font-size: get_vw(24);
      font-weight: 400;
      position: relative;
      @include pc-fluid-size(font-size, (40));
      @include after{
        width: get_vw(25);
        height: get_vw(2);
        background-color: $c_black;
        position: absolute;
        bottom: get_vw(-24);
        left: 50%;
        transform: translateX(-50%);
        @include pc-fluid-size(width, (25));
        @include pc-fluid-size(height, (2));
        @include pc-fluid-size(bottom, (-15));
      }
    }
    &.top{ 
      @include pc-fluid-size(width, (404));
      @include min-screen{
        margin-inline: auto;
      }
    }
    &.bot{
      @include pc-fluid-size(width, (404));
      padding: get_vw(11);
      background-color: $c_lightgray;
      border-radius: get_vw(20);
      margin-top: get_vw(100);
      column-gap: get_vw(10);
      @include center;
      @include pc-fluid-size(margin-top, (118));
      @include pc-fluid-size(padding, (12 15 12 30));
      @include pc-fluid-size(border-radius, (20));
      @include pc-fluid-size(column-gap, (18));
      @include min-screen{
        width: 100%;
        justify-content: space-between;
      }
    }
  }
  &__calendar-label{
    width: get_vw(20);
    height: get_vw(20);
    position: relative;
    @include pc-fluid-size(width, (20));
    @include pc-fluid-size(height, (20));
    @include before{
      background-image: url('../img/event/form_area.png');
      background-size: 100% 100%;
      width: get_vw(18);
      height: get_vw(27);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      @include pc-fluid-size(width, (18));
      @include pc-fluid-size(height, (27));
    }
  }
  &__calendar-box{
    width: get_vw(298);
    padding: get_vw(20) get_vw(12);
    background-color: $c_white;
    border: solid $c_gray get_vw(2);
    border-radius: get_vw(15);
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    row-gap: get_vw(10);
    column-gap: get_vw(8);
    @include pc-fluid-size(width, (696));
    @include pc-fluid-size(height, (63));
    @include pc-fluid-size(padding, ( 17 16));
    @include pc-fluid-size(border-width, (2));
    @include pc-fluid-size(border-radius, (15));
    @include pc-fluid-size(row-gap, (8));
    @include pc-fluid-size(column-gap, (5));
    @include min-screen{
      cursor: pointer;
    }
    &> span{
      position: relative;
      width: get_vw(130);
      height: get_vw(30);
      padding: 0 get_vw(9);
      font-size: get_vw(12);
      font-weight: 300;
      color: $c_white;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: $c_lightgray;
      border-radius: get_vw(30);
      @include pc-fluid-size(width, (102));
      @include pc-fluid-size(height, (22));
      @include pc-fluid-size(padding, (0 9));
      @include pc-fluid-size(font-size, (10));
      @include pc-fluid-size(border-radius, (30));
      @include min-screen{
        cursor: pointer;
      }
      &[data-area="main"]{
        background-color: $c_green;
      }
      &[data-area="tora"]{
        background-color: $c_red;
      }
      &[data-area="kochi"]{
        background-color: $c_blue;
      }
      &[data-area="wing"]{
        background-color: $c_orange;
      }
      &[data-area="monchi"]{
        background-color: $c_pink;
      }
      &[data-area="iris"]{
        background-color: $c_purple;
      }
      @include min-screen{
        cursor: pointer;
      }
      @include after{
        background-image: url('../img/event/form_close.png');
        background-size: 100%;
        width: get_vw(8);
        height: get_vw(8);
        position: absolute;
        top: 50%;
        right: get_vw(12);
        transform: translateY(-50%);
        @include pc-fluid-size(width, (6));
        @include pc-fluid-size(height, (6));
        @include pc-fluid-size(right, (5));
      }
    }
  }
  &__calendar-select{
    width: get_vw(20);
    height: get_vw(20);
    position: relative;
    @include pc-fluid-size(width, (20));
    @include pc-fluid-size(height, (20));
    @include before{
      background-image: url('../img/event/form_area.png');
      background-size: 100% 100%;
      width: get_vw(18);
      height: get_vw(27);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      @include pc-fluid-size(width, (18));
      @include pc-fluid-size(height, (27));
    }
  }
  &__h2{
    font-size: get_vw(20);
    color: $c_black;
    text-align: center;
    position: relative;
    @include pc-fluid-size(font-size, (40));
    @include after{
      background-color: $common_h2;
      width: get_vw(25);
      height: get_vw(2);
      border-radius: get_vw(20);
      position: absolute;
      bottom: get_vw(-20);
      left: 50%;
      transform: translateX(-50%);
      @include pc-fluid-size(width, (25));
      @include pc-fluid-size(height, (2));
      @include pc-fluid-size(bottom, (-16));
    }
  }

  &__btn{
    display: block;
    margin-top: get_vw(76);
    margin-inline: auto;
    width: get_vw(360);
    height: get_vw(60);
    font-size: get_vw(18);
    color: $c_black;
    text-align: center;
    align-content: center;
    background-color: $c_ivory;
    border-radius: get_vw(60);
    position: relative;
    @include pc-fluid-size(margin-top, (95));
    @include pc-fluid-size(width, (600));
    @include pc-fluid-size(height, (80));
    @include pc-fluid-size(font-size, (18));
    @include pc-fluid-size(border-radius, (100));
    @include before{
      background-image: url('../img/event/btn_cal.png');
      background-size: 100% 100%;
      width: get_vw(18);
      height: get_vw(18);
      position: absolute;
      top: 50%;
      left: get_vw(20);
      transform: translateY(-50%);
      @include pc-fluid-size(width, (23));
      @include pc-fluid-size(height, (23));
      @include pc-fluid-size(left, (52));
    }
    @include after{
      background-image: url('../img/event/btn_arrow_white.png');
      background-size: 100% 100%;
      width: get_vw(40);
      height: get_vw(40);
      position: absolute;
      top: 50%;
      right: get_vw(10);
      transform: translateY(-50%);
      @include pc-fluid-size(width, (60));
      @include pc-fluid-size(height, (60));
      @include pc-fluid-size(right, (10));
    }
    &.back{
      @include before{
        display: none;
      }
      @include after{
        left: get_vw(10);
        right: auto;
        transform: translateY(-50%) scale(-1);
      }
    }
  }
  &__form{
    margin-top: get_vw(80);
    padding: get_vw(0) get_vw(22);
    @include pc-fluid-size(margin-top, (100));
    @include pc-fluid-size(width, (1280));
    @include pc-fluid-size(padding, (0));
    @include min-screen{
      margin-inline: auto;
    }
  }
  &__form-wrapper{
    margin-top: get_vw(70);
    padding: get_vw(40) get_vw(10);
    width: get_vw(350);
    background-color: $c_lightgray;
    border-radius: get_vw(20);
    @include pc-fluid-size(margin-top, (95));
    @include pc-fluid-size(padding, (15 20));
    @include pc-fluid-size(width, (1280));
    @include pc-fluid-size(border-radius, (40));
    @include pc-fluid-size(column-gap, (35));
    @include pc-fluid-size(row-gap, (10));
    @include min-screen{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__form-flex{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
      @include pc-fluid-size(column-gap, (12));
    &:not(:first-child){
      margin-top: get_vw(10);
      @include pc-fluid-size(margin-top, (0));
    }
    &:last-child{
      flex: 3;
    }
  }
  &__form-label{
    width: get_vw(20);
    height: get_vw(20);
    position: relative;
    @include pc-fluid-size(width, (20));
    @include pc-fluid-size(height, (20));
    &.area{
      @include before{
        background-image: url('../img/event/form_area.png');
        background-size: 100% 100%;
        width: get_vw(18);
        height: get_vw(27);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        @include pc-fluid-size(width, (18));
        @include pc-fluid-size(height, (27));
      }
    }
    &.date{
      @include before{
        background-image: url('../img/event/form_cal.png');
        background-size: 100% 100%;
        width: get_vw(23);
        height: get_vw(24);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        @include pc-fluid-size(width, (23));
        @include pc-fluid-size(height, (24));
      }
    }
    &.cate{
      @include before{
        background-image: url('../img/event/form_cat.png');
        background-size: 100% 100%;
        width: get_vw(23);
        height: get_vw(23);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        @include pc-fluid-size(width, (23));
        @include pc-fluid-size(height, (23));
      }
    }
    &.word{
      @include before{
        background-image: url('../img/event/form_word.png');
        background-size: 100% 100%;
        width: get_vw(18);
        height: get_vw(18);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        @include pc-fluid-size(width, (19));
        @include pc-fluid-size(height, (18));
      }
    }
  }

  &__form-box{
    width: get_vw(298);
    padding: get_vw(20) get_vw(12);
    background-color: $c_white;
    border: solid $c_gray get_vw(2);
    border-radius: get_vw(15);
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    row-gap: get_vw(10);
    column-gap: get_vw(8);
    @include pc-fluid-size(width, (357));
    @include pc-fluid-size(height, (70));
    @include pc-fluid-size(padding, (10 15));
    @include pc-fluid-size(border-width, (2));
    @include pc-fluid-size(border-radius, (15));
    @include pc-fluid-size(row-gap, (8));
    @include pc-fluid-size(column-gap, (5));
    @include min-screen{
      cursor: pointer;
    }
    &> span{
      position: relative;
      width: get_vw(130);
      height: get_vw(30);
      padding: 0 get_vw(9);
      font-size: get_vw(12);
      font-weight: 300;
      color: $c_black;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $c_lightgray;
      border-radius: get_vw(30);
      @include pc-fluid-size(width, (102));
      @include pc-fluid-size(height, (22));
      @include pc-fluid-size(padding, (0 9));
      @include pc-fluid-size(font-size, (10));
      @include pc-fluid-size(border-radius, (30));
    }
    &.area{
      @include pc-fluid-size(padding, (8 15));
      &>span{
        color: $c_white;
        justify-content: flex-start;
        &[data-area="main"]{
          background-color: $c_green;
        }
        &[data-area="tora"]{
          background-color: $c_red;
        }
        &[data-area="kochi"]{
          background-color: $c_blue;
        }
        &[data-area="wing"]{
          background-color: $c_orange;
        }
        &[data-area="monchi"]{
          background-color: $c_pink;
        }
        &[data-area="iris"]{
          background-color: $c_purple;
        }
        @include min-screen{
          cursor: pointer;
        }
        @include after{
          background-image: url('../img/event/form_close.png');
          background-size: 100%;
          width: get_vw(8);
          height: get_vw(8);
          position: absolute;
          top: 50%;
          right: get_vw(12);
          transform: translateY(-50%);
          @include pc-fluid-size(width, (6));
          @include pc-fluid-size(height, (6));
          @include pc-fluid-size(right, (5));
        }
      }
    }
    &.date{
      flex-direction: column;
      @include min-screen{      
        @include center;
      }
      & strong{
        display: block;
        font-size: get_vw(14);
        font-weight: 500;
        @include pc-fluid-size(font-size, (14));
      }
      & p{
        margin-top: get_vw(4);
        font-size: get_vw(14);
        font-weight: 300;
        @include pc-fluid-size(margin-top, (8));
        @include pc-fluid-size(font-size, (14));
      }
    }
    &.word{
      font-size: get_vw(14);
      font-weight: 500;
      resize: none;
      @include pc-fluid-size(padding, (25 18));
      @include pc-fluid-size(font-size, (14));
      @include min-screen{      
        width: 100%;
      }
      &::placeholder{
        color: $c_gray;
      }
    }
  }

  &__form-modal{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: get_vw(50) get_vw(10);
    position: fixed;
    top: 0;
    left: 0;
    background-color: $c_white;
    opacity: 0;
    transition: all 0.4s ease;
    pointer-events: none;
    z-index: 999;
    @include pc-fluid-size(width, (781));
    @include pc-fluid-size(padding, (30 34 42 34));
    @include pc-fluid-size(border-radius, (15));
    @include pc-fluid-size(top, (80));
    @include pc-fluid-size(left, (30));
    @include pc-fluid-size(border-width, (2));
    & h5{
      font-size: get_vw(20);
      font-weight: 400;
      color: $c_black;
      text-align: center;
      @include min-screen{
        display: none
      }
    }
    &.date{
      @include pc-fluid-size(width, (820));
      @include pc-fluid-size(padding, (38 30 42 30));
      @include pc-fluid-size(top, (80));
      @include pc-fluid-size(border-width, (2));
      @include min-screen{
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &.cate{
      @include pc-fluid-size(width, (357));
      @include pc-fluid-size(padding, (40 48 36 48));
      @include pc-fluid-size(top, (80));
      @include pc-fluid-size(left, (34));
      @include pc-fluid-size(border-width, (2));
      & .event__modal-next{
        @include pc-fluid-size(margin-top, (28));
      }
    }
    &.word{
      @include pc-fluid-size(width, (1200));
      @include pc-fluid-size(padding, (25 30 36 45));
      @include pc-fluid-size(top, (80));
      @include pc-fluid-size(left, (34));
      @include pc-fluid-size(border-width, (2));
      & .event__modal-next{
        @include pc-fluid-size(margin-top, (-28));
      }
    }
    @include min-screen{
      position: absolute;
      height: auto;
      margin-inline: auto;
      border: solid;
      border-color: $c_gray;
      overflow: hidden;
    }
    &.js-show{
      opacity: 1;
      pointer-events: all;
    }

    // &.date{
    //   &:not([hidden]){
    //     display: block;
    //     opacity: 1;
    //     pointer-events: all;
    //   }
    // }
  }

  &__modal-flex{
    position: relative;
    margin-top: get_vw(60);
    padding: get_vw(10) get_vw(18);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $c_lightgray;
    border-radius: get_vw(20);

    @include min-screen{
      display: none;
    }
  }

  &__modal-box{
  }

  &__modal-map{
    margin-top: get_vw(40);
    width: 100%;
    position: relative;
    @include pc-fluid-size(margin-top, (0));
    @include pc-fluid-size(width, (556));
    & li{
      width: fit-content;
      height: get_vw(30);
      padding: get_vw(0) get_vw(12);
      font-size:get_vw(14);
      font-weight: 500;
      color: $c_black;
      background-color: $c_white;
      border: solid get_vw(4) $c_ivory;
      border-radius: get_vw(50);
      @include center;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.4s ease;
      @include pc-fluid-size(height, (50));
      @include pc-fluid-size(padding, (0 25));
      @include pc-fluid-size(font-size, (18));
      @include pc-fluid-size(border-width, (4));
      @include pc-fluid-size(border-radius, (50));
      &[data-area="main"]{
        top: get_vw(74);
        left: get_vw(107);
        @include pc-fluid-size(top, (106));
        @include pc-fluid-size(left, (180));
      }
      &[data-area="tora"]{
        top: get_vw(160);
        left: get_vw(250);
        @include pc-fluid-size(top, (240));
        @include pc-fluid-size(left, (360));
      }
      &[data-area="kochi"]{
        top: get_vw(177);
        left: get_vw(107);
        @include pc-fluid-size(top, (275));
        @include pc-fluid-size(left, (105));
      }
      &[data-area="iris"]{
        top: get_vw(257);
        left: get_vw(2);
        @include pc-fluid-size(top, (390));
        @include pc-fluid-size(left, (20));
      }
      &[data-area="wing"]{
        top: get_vw(297);
        left: get_vw(132);
        @include pc-fluid-size(top, (475));
        @include pc-fluid-size(left, (210));
      }
      &[data-area="monchi"]{
        top: get_vw(330);
        left: get_vw(203);
        @include pc-fluid-size(top, (508));
        @include pc-fluid-size(left, (340));
      }
      &.js-active{
        color: $c_white;
        border-color: transparent;
        &[data-area="main"]{
          background-color: $c_green;
        }
        &[data-area="tora"]{
          background-color: $c_red;
        }
        &[data-area="kochi"]{
          background-color: $c_blue;
        }
        &[data-area="wing"]{
          background-color: $c_orange;
        }
        &[data-area="monchi"]{
          background-color: $c_pink;
        }
        &[data-area="iris"]{
          background-color: $c_purple;
        }
      }
      @include min-screen{
        cursor: pointer;
        &:hover{
          border-color: transparent;
          color: $c_white;
          &[data-area="main"]{
            background-color: $c_green;
          }
          &[data-area="tora"]{
            background-color: $c_red;
          }
          &[data-area="kochi"]{
            background-color: $c_blue;
          }
          &[data-area="wing"]{
            background-color: $c_orange;
          }
          &[data-area="monchi"]{
            background-color: $c_pink;
          }
          &[data-area="iris"]{
            background-color: $c_purple;
          }
        }
      }
    }
    @include min-screen{
      margin-inline: auto;
    }
  }

  &__modal-map-btn{
    position: relative;  
    width: get_vw(120);
    height: get_vw(28);
    margin: get_vw(40) auto 0 get_vw(147);
    padding: get_vw(0) get_vw(12);
    font-size:get_vw(14);
    font-weight: 500;
    color: $c_black;
    background-color: $c_white;
    border: solid get_vw(4) $c_ivory;
    border-radius: get_vw(50);
    @include center;
    @include pc-fluid-size(width, (154));
    @include pc-fluid-size(height, (50));
    @include pc-fluid-size(margin-top, (-42));  
    @include pc-fluid-size(margin-left, (0));
    @include pc-fluid-size(padding, (0 15));
    @include pc-fluid-size(font-size, (18));
    @include pc-fluid-size(border-width, (4));
    @include pc-fluid-size(border-radius, (50));
    @include before{
      background-image: url("../img/event/modal_area_icon.png");
      background-size: 100%;
      width: get_vw(22);
      height: get_vw(22);
      position: absolute;
      top: 50%;
      left: get_vw(-30);
      transform: translateY(-50%);
      @include pc-fluid-size(width, (26));
      @include pc-fluid-size(height, (26));
      @include pc-fluid-size(bottom, (56));
      @include min-screen{
        top: auto;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    @include after{
      display: none;
    }
  }

  &__date-start,&__date-end{
    @include pc-fluid-size(width, (90));
  }

  &__modal-date{
    margin-top:  get_vw(60);
    @include pc-fluid-size(margin-top, (0));
  }
  &__date-flex{
    position: relative;
    width: get_vw(316);
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include pc-fluid-size(width, (350));
    &.mid{

    }
    &.bot{
      width: 100%;
      justify-content: center;
      @include pc-fluid-size(width, (750));
      @include pc-fluid-size(margin-top, (0));
      @include min-screen{
        justify-content: space-between;
      }
    }
    &>button{
      @include pc-fluid-size(width, (98));
      @include pc-fluid-size(height, (50));
      @include pc-fluid-size(margin-top, (26));
      @include pc-fluid-size(font-size, (18));
      @include pc-fluid-size(border-radius, (50));
      @include min-screen{
        margin-inline: auto;
        background-color: $c_lightgray;
        @include center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        &:hover{
          background-color: rgba(245, 164, 0, 0.1);
        }
      }
    }
  }
  &__date-btn{
    position: relative;
    @include pc-fluid-size(width, (20));
    @include pc-fluid-size(height, (24));
    &.before{
      // margin-left: get_vw(20);
      @include before{
        width: get_vw(6);
        height: get_vw(12);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-image: url("../img/event/date_btn.png");
        background-size: 100% 100%;
        @include pc-fluid-size(width, (6));
        @include pc-fluid-size(height, (12));
        @include pc-fluid-size(left, (20));
        @include min-screen{
          cursor: pointer;
        }
      }
    }
    &.after{
      // margin-right: get_vw(20);
      @include after{
        width: get_vw(6);
        height: get_vw(12);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%) scale(-1);
        background-image: url("../img/event/date_btn.png");
        background-size: 100% 100%;
        @include pc-fluid-size(width, (6));
        @include pc-fluid-size(height, (12));
        @include pc-fluid-size(right, (20));
        @include min-screen{
          cursor: pointer;
        }
      }
    }
  }

  &__modal-date-cal{
      margin-top: get_vw(40);
      @include pc-fluid-size(margin-top, (42));
    & p{
      font-size: get_vw(20);
      font-weight: 400;
      text-align: center;
      @include pc-fluid-size(font-size, (20));
    }
  }

  &__date-control{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &.before{
      & .after{
        @include min-screen{
          pointer-events: none;
          @include after{
            display: none;
            pointer-events: none;
          }
        }
      }
    }
    &.after{
      & .before{
        @include min-screen{
          pointer-events: none;
          @include before{
            display: none;
            pointer-events: none;
          }
        }
      }
    }
  }

  &__modal-date-start,&__modal-date-end{
    & strong{
      font-size: get_vw(56);
      font-weight: 500;
      color: $c_black;
      @include pc-fluid-size(font-size, (56));
    }
    & p{
      font-size: get_vw(14);
      font-weight: 500;
      @include pc-fluid-size(font-size, (14));
    }
  }
  &__modal-date-arrow{
    position: relative;
    @include after{
      background-image: url("../img/event/date_arrow.png");
      background-size: 100% 100%;
      width: get_vw(60);
      height: get_vw(15);
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%,-50%);
      @include pc-fluid-size(width, (60));
      @include pc-fluid-size(height, (15));
    }
  }
  &__modal-date-show{
      display:flex;
      flex-direction: row;
      column-gap: get_vw(8);
      align-items: center;
      @include pc-fluid-size(column-gap, (8));
    & div{
      display:flex;
      flex-direction: column;
      @include pc-fluid-size(row-gap, (5));
    }
  }
  &__modal-date-days,&__modal-date-dates{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    justify-items: center;
  }

  &__modal-date-days{
    width: get_vw(350);
    margin-top: get_vw(20);
    margin-inline: auto;
    font-size: get_vw(14);
    font-weight: 400;
    color: $c_orange;
    @include pc-fluid-size(width, (345));
    @include pc-fluid-size(margin-top, (40));
    @include pc-fluid-size(font-size, (14));
  }

  &__modal-date-dates{
    margin-top: get_vw(30);
    margin-inline: auto;
    font-size: get_vw(20);
    font-weight: 400;
    color: $c_black;
    row-gap: get_vw(20);
    @include pc-fluid-size(margin-top, (20));
    @include pc-fluid-size(width, (345));
    @include pc-fluid-size(font-size, (20));
    @include pc-fluid-size(row-gap, (0));
    & span{
      width: 100%;
      height: 100%;
      aspect-ratio: 1;
      @include center;
      @include min-screen{
        cursor: pointer;
        &:hover{
          background-color: rgba(245, 164, 0, 0.1);
        }
      }
      &.today{
        position: relative;
        border-radius: 0;
        @include after{
          width: get_vw(40);
          height: get_vw(40);
          border: solid get_vw(2) $c_orange;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          @include pc-fluid-size(width, (40));
          @include pc-fluid-size(height, (40));
          @include pc-fluid-size(border-width, (2));
        }
      }
      &.disabled{
        color: $c_gray;
        pointer-events: none;
      }
      &.range-start,&.range-end{
        color: $c_white;
        background-color: $c_orange;
        border-radius: 50%;
        position: relative;
      }
      &.range-start{
        @include before{
          background-color: rgba(245, 164, 0, 0.4);
          width: 50%;
          height: 100%;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          z-index: -1;
        }
      }
      &.range-end{
        @include before{
          background-color: rgba(245, 164, 0, 0.4);
          width: 50%;
          height: 100%;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          z-index: -1;
        }
      }
      &.in-range{
        position: relative;
        @include before{
          width: 100%;
          height: 100%;
          background-color: rgba(245, 164, 0, 0.4);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          z-index: -1;
        }
      }
    }
  }

  &__modal-cate{
    margin-top: get_vw(80);
    @include pc-fluid-size(margin-top, (0));
    & li{
      width: 100%;
      height: get_vw(60);
      font-size: get_vw(18);
      font-weight: 400;
      border-radius: get_vw(50);
      background-color: $c_lightgray;
      transition: all 0.4s ease;
      @include center;
      @include pc-fluid-size(height, (50));
      @include pc-fluid-size(font-size, (18));
      @include pc-fluid-size(border-radius, (50));
      @include min-screen{
        cursor: pointer;
        &:hover{
          background-color: $c_ivory;
        }
      }
      &:not(:first-child){
        margin-top: get_vw(20);
        @include pc-fluid-size(margin-top, (10));
      }
      &.js-active{
        background-color: $c_ivory;
      }
    }
  }

  &__modal-word{
    padding: get_vw(20) get_vw(30);
    @include pc-fluid-size(padding, (0 0));
    & li{
      padding-left: get_vw(36);
      font-size: get_vw(18);
      font-weight: 400;
      position: relative;
      @include pc-fluid-size(padding-left, (36));
      @include pc-fluid-size(font-size, (18));
      @include min-screen{
        cursor: pointer;
        &:hover{
          color: $c_orange;
          @include before{
          background-image: url('../img/event/modal_word_active.png');
          }
        }
      }
      @include before{
        background-image: url('../img/event/modal_word.png');
        background-size: 100%;
        width: get_vw(16);
        height: get_vw(18);
        position: absolute;
        top: 50%;
        left: get_vw(0);
        transform: translateY(-50%);
        @include pc-fluid-size(width, (18));
        @include pc-fluid-size(height, (17));
      }
      &:not(:first-child){
        margin-top: get_vw(20);
        @include pc-fluid-size(margin-top, (40));
      }
      &.js-active{
        color: $c_orange;
        @include before{
        background-image: url('../img/event/modal_word_active.png');
        }
      }
    }
  }

  &__modal-btn{
    position: relative;
    display: block;
    margin-top: get_vw(38);
    margin-inline: auto;
    padding: get_vw(14);
    width: get_vw(350);
    height: get_vw(60);
    font-size: get_vw(18);
    font-weight: 500;
    background-color: $c_ivory;
    border-radius: get_vw(60);
    @include center;
    @include pc-fluid-size(margin-top, (38));
    @include pc-fluid-size(padding, (14));
    @include pc-fluid-size(width, (260));
    @include pc-fluid-size(height, (50));
    @include pc-fluid-size(font-size, (14));
    @include pc-fluid-size(border-radius, (60));
    @include after{
      background-image: url("../img/event/btn_search.png");
      background-size: 100%;
      width: get_vw(40);
      height: get_vw(40);
      position: absolute;
      top: 50%;
      right: get_vw(10);
      transform: translateY(-50%);
      @include pc-fluid-size(width, (40));
      @include pc-fluid-size(height, (40));
      @include pc-fluid-size(right, (6));
    }
  }

  &__modal-next{
    display: block;
    width: fit-content;
    margin: get_vw(30) auto 0;
    font-size: get_vw(14);
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: get_vw(4);
    @include pc-fluid-size(margin-top, (-40));
    @include pc-fluid-size(font-size, (14));
    @include pc-fluid-size(text-underline-offset, (4));
    @include min-screen{
      margin-inline: auto 0;
        cursor: pointer;
        &:hover{
          color: $c_orange;
        }
    }
  }

  &__modal-close{
    display: block;
    position: relative;
    margin-top: get_vw(72);
    margin-inline: auto;
    width: get_vw(20);
    height: get_vw(20);
    @include pc-fluid-size(width, (20));
    @include pc-fluid-size(height, (20));
    & span{
      display: block;
      width: get_vw(28);
      height: get_vw(2);
      background-color: $c_black;
      transform: translate(-50%,-50%) rotate(45deg);
      position: absolute;
      top: 50%;
      left: 50%;
      @include pc-fluid-size(width, (18));
      @include pc-fluid-size(height, (2));
      &:last-child{
        transform: translate(-50%,-50%) rotate(-45deg);
        top: 50%;
        left: 50%;
      }
    }
    @include min-screen{
      display: none;
    }
  }

  &__box{
    margin-top: get_vw(40);
    padding: get_vw(0) get_vw(20);
    @include pc-fluid-size(margin-top, (80));
    @include pc-fluid-size(width, (1280));
    @include pc-fluid-size(padding, (0));
    @include min-screen{
      margin-inline: auto;
    }
  }
  &__h3{
    font-size: get_vw(14);
    text-align: center;
    color: $c_black;
    @include pc-fluid-size(font-size, (18));
    & span{
      font-size: get_vw(24);
      margin-inline: get_vw(6);
      @include pc-fluid-size(font-size, (32));
      @include pc-fluid-size(margin-inline, (10));
    }
  }
  &__zero-txt{
    width: get_vw(220);
    margin-top: get_vw(40);
    margin-inline: auto;
    font-size: get_vw(24);
    font-weight: 500;
    line-height: calc(32/24);
    text-align: center;
    color: $c_black;
    @include pc-fluid-size(font-size, (32));
    @include pc-fluid-size(margin-top, (80));
    @include min-screen{
      width: 100%;
    }
  }
  &__box-list{
    display: block;
    margin-top: get_vw(44);
    @include pc-fluid-size(margin-top, (80));
    @include pc-fluid-size(column-gap, (18));
    @include pc-fluid-size(row-gap, (40));
    @include min-screen{
      display: flex;
      flex-wrap: wrap;
      margin-inline: auto;
    }
  }
  &__box-item{
    display: block;
    margin-top: get_vw(40);
    width: 100%;
    @include pc-fluid-size(margin-top, (0));
    @include pc-fluid-size(width, (413));
    @include min-screen{
      cursor: pointer;
      &:hover{
        & img{
          scale: 1.1;
        }
      }
    }
    &> p{
      margin-top: get_vw(20);
      font-size: get_vw(18);
      color: $c_black;
      @include pc-fluid-size(margin-top, (27));
      @include pc-fluid-size(font-size, (18));
    }
    &> h4{
      margin-top: get_vw(17);
      font-size: get_vw(24);
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2; 
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      line-height: calc(32/24);
      @include pc-fluid-size(margin-top, (28));
      @include pc-fluid-size(font-size, (24));
      @include pc-fluid-size(line-height, (32));
    }
    &> span{
      display: block;
      margin-top: get_vw(24);
      padding-left: get_vw(27);
      font-size: get_vw(18);
      position: relative;
      @include pc-fluid-size(margin-top, (28));
      @include pc-fluid-size(padding-left, (27));
      @include pc-fluid-size(font-size, (18));
      @include before{
        background-image: url("../img/common/event_pink.png");
        background-size: 100% 100%;
        width: get_vw(18);
        height: get_vw(27);
        position: absolute;
        top: 50%;
        left: get_vw(0);
        transform: translateY(-50%);
        @include pc-fluid-size(width, (18));
        @include pc-fluid-size(height, (27));
      }
      &.main{
        color: $c_green;
        @include before{
          background-image: url("../img/common/event_green.png");
        }
      }
      &.tora{
        color: $c_red;
      }
      &.kochi{
        color: $c_blue;
        @include before{
          background-image: url("../img/common/event_blue.png");
        }
      }
      &.wing{
        color: $c_orange;
        @include before{
          background-image: url("../img/common/event_orange.png");
        }
      }
      &.monchi{
        color: $c_pink;
        @include before{
          background-image: url("../img/common/event_pink.png");
        }
      }
      &.iris{
        color: $c_purple;
        @include before{
          background-image: url("../img/common/event_purple.png");
        }
      }
    }
    & img{    
      transition: all 0.4s ease;
    }
  }
  &__box-img{
    border-radius: get_vw(20) get_vw(20) 0 0;
    @include pc-fluid-size(border-radius, (40));
    overflow: hidden;
  }
  &__box-cat{
    margin-top: get_vw(20);
    display: flex;
    flex-wrap: wrap;
    column-gap: get_vw(10);
    row-gap: get_vw(10);
    @include pc-fluid-size(margin-top, (30));
    @include pc-fluid-size(column-gap, (10));
    @include pc-fluid-size(row-gap, (10));
    & span{
      height: get_vw(22);
      padding: 0 get_vw(8);
      font-size: get_vw(10);
      font-weight: 300;
      text-align: center;
      align-content: center;
      background-color: $c_lightgray;
      border-radius: get_vw(30);
      @include center;
      @include pc-fluid-size(height, (22));
      @include pc-fluid-size(padding, (8));
      @include pc-fluid-size(font-size, (10));
      @include pc-fluid-size(border-radius, (30));
      @include min-screen{
      }
    }
  }
  &__pagination{
    margin-top: get_vw(40);
    margin-inline: auto;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: get_vw(10);
    @include pc-fluid-size(margin-top, (80));
    @include pc-fluid-size(column-gap, (10));
    & button{
      position: relative;
      width: get_vw(40);
      height: get_vw(40);
      background-color: $c_ivory;
      font-size: get_vw(14);
      color: $c_black;
      border-radius: 50%;
      transition: all 0.4s ease;
      @include center;
      @include pc-fluid-size(width, (40));
      @include pc-fluid-size(height, (40));
      @include pc-fluid-size(font-size, (14));
      @include min-screen{
        &:hover{
          background-color: $c_orange;
          color: $c_white;
        }
      }
      &.active{
        background-color: $c_orange;
        color: $c_white;
      }
      &.arrow-next{
        @include after{
          background-image: url('../img/event/btn_arrow.png');
          background-size: 100% 100%;
          width: get_vw(15);
          height: get_vw(15);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          @include pc-fluid-size(width, (15));
          @include pc-fluid-size(height, (15));
        }
      }
      &.arrow-before{
        @include after{
          background-image: url('../img/event/btn_arrow.png');
          background-size: 100% 100%;
          width: get_vw(15);
          height: get_vw(15);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%) scale(-1);
          @include pc-fluid-size(width, (15));
          @include pc-fluid-size(height, (15));
        }
      }
      &.small{
        width: get_vw(7);
        height: get_vw(7);
        @include pc-fluid-size(width, (7));
        @include pc-fluid-size(height, (7));
        @include min-screen{
          pointer-events: none;
        }
      }
    }
  }
}