@charset "utf-8";

// ---------------- Sass組み込みモジュール ----------------
@use "sass:meta";
@use "sass:map";
@use "sass:list";

// ---------------- 自作モジュール ----------------
@use 'setting/setting' as *;

// ---------------- 関数 ----------------

// px → vw 変換
@function get_vw($size, $viewport: $vp-sp) {
  @return calc($size / $viewport * 100vw);
}

// 最小値対応
@function get_min($size, $viewport: $vp-pc) {
  @return min(#{get_vw($size, $viewport)}, #{$size * 1px});
}

// 最大値対応
@function get_max($size, $viewport: $vp-pc) {
  @return max(#{get_vw($size, $viewport)}, #{$size * 1px});
}

// px → vh 変換
@function get_vh($size, $viewport: $vp-sp) {
  @return calc($size / $viewport * 100vh);
}

// ---------------- ミックスイン ----------------

// flexのcenter
@mixin center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

// after
@mixin after() {
  &:after {
    display: block;
    content: '';
    @content;
  }
}

// before
@mixin before() {
  &:before {
    display: block;
    content: '';
    @content;
  }
}

//btn
@mixin btn-w () {
  border: $c_ivory solid;
  border-width: 0;
  border-radius: get_vw(25);
  background-color: $c_white;
  width: get_vw(350);
  height: get_vw(50);
  margin-left: auto;
  margin-right: auto;
  @include center;
  position: relative;
  @include pc-fluid-size(border-width, (4));
  @include pc-fluid-size(border-radius, (25));
  @include pc-fluid-size(width, (260));
  @include pc-fluid-size(height, (50));
  @include pc-fluid-size(padding-right, (25));

  @include min-screen() {
    transition: $transition;

    &:hover {
      background-color: $c_ivory;
    }
  }

  span {
    font-size: get_vw(14);
    font-weight: $w_medium;
    display: flex;
    align-items: center;
    position: relative;
    @include pc-fluid-size(font-size, (14));
  }

  @include after() {
    border-radius: 50%;
    background-image: url('../data/webp/common/icon_arw_btn.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: get_vw(15) auto;
    background-color: $c_ivory;
    width: get_vw(40);
    height: get_vw(40);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: get_vw(5);
    @include pc-fluid-bg-size(15, auto);
    @include pc-fluid-size(width, (40));
    @include pc-fluid-size(height, (40));
    @include pc-fluid-size(right, (5));

    @include min-screen() {
      transition: $transition;
    }
  }
}

@mixin btn-i () {
  border: $c_ivory solid;
  border-width: 0;
  border-radius: get_vw(25);
  background-color: $c_ivory;
  width: get_vw(350);
  height: get_vw(50);
  margin-left: auto;
  margin-right: auto;
  @include center;
  position: relative;
  @include pc-fluid-size(border-width, (4));
  @include pc-fluid-size(border-radius, (25));
  @include pc-fluid-size(padding-right, (25));
  @include pc-fluid-size(width, (260));
  @include pc-fluid-size(height, (50));

  @include min-screen() {
    transition: $transition;

    &:hover {
      background-color: $c_white;
    }
  }

  span {
    font-size: get_vw(14);
    font-weight: $w_medium;
    display: flex;
    align-items: center;
    position: relative;
    @include pc-fluid-size(font-size, (14));
  }

  @include after() {
    border-radius: 50%;
    background-image: url('../data/webp/common/icon_arw_btn.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: get_vw(15) auto;
    background-color: $c_white;
    width: get_vw(40);
    height: get_vw(40);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: get_vw(5);
    @include pc-fluid-bg-size(15, auto);
    @include pc-fluid-size(width, (40));
    @include pc-fluid-size(height, (40));
    @include pc-fluid-size(right, (5));

    @include min-screen() {
      transition: $transition;
    }
  }
}

@mixin btn-w-l () {
  border: $c_ivory solid;
  border-width: 0;
  border-radius: get_vw(25);
  background-color: $c_white;
  width: get_vw(350);
  height: get_vw(50);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  @include pc-fluid-size(border-width, (4));
  @include pc-fluid-size(border-radius, (40));
  @include pc-fluid-size(width, (600));
  @include pc-fluid-size(height, (80));

  @include min-screen() {
    transition: $transition;

    &:hover {
      background-color: $c_ivory;
    }
  }

  span {
    font-size: get_vw(14);
    line-height: calc(24/14);
    font-weight: $w_medium;
    display: flex;
    align-items: center;
    position: relative;
    @include pc-fluid-size(font-size, (14));
    
    @include before() {
      background-position: left center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &.pdf:before{
      background-image: url('../img/overview/icon_pdf.png');
      background-size: 100% 100%;
      width: get_vw(23);
      height: get_vw(26);
      position: absolute;
      top: 50%;
      left: get_vw(25);
      transform: translateY(-50%);
      @include pc-fluid-size(width, (23));
      @include pc-fluid-size(height, (26));
      @include pc-fluid-size(left, (40));
    }
    &.xls:before{
      background-image: url('../img/overview/icon_xls.png');
      background-size: 100% 100%;
      width: get_vw(23);
      height: get_vw(25);
      position: absolute;
      top: 50%;
      left: get_vw(25);
      transform: translateY(-50%);
      @include pc-fluid-size(width, (23));
      @include pc-fluid-size(height, (25));
      @include pc-fluid-size(left, (40));
    }
  }
}

@mixin btn-i-l () {
  border: $c_ivory solid;
  border-width: 0;
  border-radius: get_vw(25);
  background-color: $c_ivory;
  width: get_vw(350);
  height: get_vw(50);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  @include pc-fluid-size(border-width, (4));
  @include pc-fluid-size(border-radius, (40));
  @include pc-fluid-size(width, (600));
  @include pc-fluid-size(height, (80));

  @include min-screen() {
    transition: $transition;

    &:hover {
      background-color: $c_white;
    }
  }

  span {
    font-size: get_vw(14);
    line-height: calc(24/14);
    font-weight: $w_medium;
    display: flex;
    align-items: center;
    position: relative;
    @include pc-fluid-size(font-size, (14));
    
    @include before() {
      background-position: left center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &.pdf:before{
      background-image: url('../img/overview/icon_pdf.png');
      background-size: 100% 100%;
      width: get_vw(23);
      height: get_vw(26);
      position: absolute;
      top: 50%;
      left: get_vw(25);
      transform: translateY(-50%);
      @include pc-fluid-size(width, (23));
      @include pc-fluid-size(height, (26));
      @include pc-fluid-size(left, (40));
    }
    &.xls:before{
      background-image: url('../img/overview/icon_xls.png');
      background-size: 100% 100%;
      width: get_vw(23);
      height: get_vw(25);
      position: absolute;
      top: 50%;
      left: get_vw(25);
      transform: translateY(-50%);
      @include pc-fluid-size(width, (23));
      @include pc-fluid-size(height, (25));
      @include pc-fluid-size(left, (40));
    }
  }
}

@mixin btn-w-icon () {
  border: $c_ivory solid;
  border-width: 0;
  border-radius: get_vw(25);
  background-color: $c_white;
  width: get_vw(350);
  height: get_vw(50);
  margin-left: auto;
  margin-right: auto;
  @include center;
  position: relative;
  @include pc-fluid-size(border-width, (4));
  @include pc-fluid-size(border-radius, (40));
  @include pc-fluid-size(width, (600));
  @include pc-fluid-size(height, (80));

  @include min-screen() {
    transition: $transition;

    &:hover {
      background-color: $c_ivory;

      &:after {
        background-color: $c_ivory;
      }
    }
  }

  span {
    font-size: get_vw(14);
    font-weight: $w_medium;
    display: flex;
    align-items: center;
    position: relative;
    @include pc-fluid-size(font-size, (18));
    
    @include before() {
      background-position: left center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  @include after() {
    border-radius: 50%;
    background-image: url('../data/webp/common/icon_arw_btn.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: get_vw(15) auto;
    background-color: $c_white;
    width: get_vw(40);
    height: get_vw(40);
    position: absolute;
    top: get_vw(5);
    right: get_vw(5);
    @include pc-fluid-bg-size(15, auto);
    @include pc-fluid-size(width, (60));
    @include pc-fluid-size(height, (60));
    @include pc-fluid-size(top, (5));
    @include pc-fluid-size(right, (8));

    @include min-screen() {
      transition: $transition;
    }
  }
}

@mixin btn-i-icon () {
  border: $c_ivory solid;
  border-width: 0;
  border-radius: get_vw(25);
  background-color: $c_ivory;
  width: get_vw(350);
  height: get_vw(50);
  margin-left: auto;
  margin-right: auto;
  @include center;
  position: relative;
  @include pc-fluid-size(border-width, (4));
  @include pc-fluid-size(border-radius, (40));
  @include pc-fluid-size(width, (600));
  @include pc-fluid-size(height, (80));

  @include min-screen() {
    transition: $transition;

    &:hover {
      background-color: $c_white;

      &:after {
        background-color: $c_ivory;
      }
    }
  }

  span {
    font-size: get_vw(14);
    font-weight: $w_medium;
    display: flex;
    align-items: center;
    position: relative;
    @include pc-fluid-size(font-size, (18));
    
    @include before() {
      background-position: left center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  @include after() {
    border-radius: 50%;
    background-image: url('../data/webp/common/icon_arw_btn.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: get_vw(15) auto;
    background-color: $c_white;
    width: get_vw(40);
    height: get_vw(40);
    position: absolute;
    top: get_vw(5);
    right: get_vw(5);
    @include pc-fluid-bg-size(15, auto);
    @include pc-fluid-size(width, (60));
    @include pc-fluid-size(height, (60));
    @include pc-fluid-size(top, (5));
    @include pc-fluid-size(right, (8));

    @include min-screen() {
      transition: $transition;
    }
  }
}

// hover animation
@mixin hov-opacity() {
  @include min-screen() {
    transition: $transition;

    &:hover {
      opacity: .8;
    }
  }
}

@mixin hov-underline() {
  @include min-screen() {
    border-bottom: get_vw(2) solid $c_black;
    @include pc-fluid-size(border-bottom-width, (2));
    transition: $transition;

    &:hover {
      border-bottom-width: 0;
    }
  }
}

// パンくず
@mixin common-bread() {
  width: 100%;
  font-size: get_vw(10);
  font-weight: $w_medium;
  color: $c_gray;
  line-height: 1.5;
  padding-left: get_vw(20);
  position: relative;
  @include pc-fluid-size(font-size, (14));
  @include pc-fluid-size(padding-left, (80));
  
  @include max-screen {
    padding: 0 get_vw(20);
  }

  @include min-screen() {
    line-height: 1.35;
  }

  & span {
    &::after {
      content: '>';
      margin: 0 get_vw(8);
      @include pc-fluid-size(margin, (0 8));
    }

    &:last-of-type::after {
      content: '';
      margin: 0;
    }

    @include min-screen() {
      transition: $transition;

      &:hover {
        opacity: .8;
      }
    }
  }

  a {
    color: $c_black;
  }

  &.detail {
    font-size: get_vw(10);
    padding:get_vw(20) get_vw(20) 0;
    margin: 0 auto;
    @include pc-fluid-size(font-size, (14));
    @include pc-fluid-size(max-width, (1280));
    @include pc-fluid-size(padding, (20 0 0 0));
  }

  &.l-page {
    color: $c_white;
    a {
      color: $c_white;
    }
  }
}

// アンカーナビ 
@mixin anchor-nav() {
  display: block;

  &--list {
    width: 100%;
    height: get_vw(50);
    padding: 0 get_vw(17);
    display: flex;
    flex-direction: row;
    column-gap: get_vw(2);
    overflow: hidden;
    @include pc-fluid-size(height, (50));
    @include pc-fluid-size(padding, (0));
    @include pc-fluid-size(column-gap, (2));
    @include min-screen{
      margin-inline: auto;
    }
  }

  &--item {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    font-size: get_vw(12);
    font-weight: 500;
    color: $c_black;
    background-color: $c_lightgray;
    @include pc-fluid-size(font-size, (14));
    @include pc-fluid-size(margin-inline, (1));
    @include pc-fluid-size(padding, (0));
    @include min-screen{
      cursor: pointer;
    }
    &:hover{
      background-color: $c_ivory;
    }
    &:first-child{
      border-radius: get_vw(10) 0 0 get_vw(10);
      @include pc-fluid-size(border-radius, (10 0 0 10));
    }
    &:last-child{
      border-radius: 0 get_vw(10) get_vw(10) 0;
      @include pc-fluid-size(border-radius, (0 10 10 0));
    }
    & a{
      display: block;
      width: 100%;
      height: 100%;
      @include center;
    }
  }
}
  
// img 縦基準
@mixin img-ver() {
  width: auto;
  max-height: 100%;
  height: 100%;
}

// スクロールバー削除
@mixin scrollbar_none {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

// ---------------- generator ----------------

@mixin mq($args...) {
  $media-type: 'only screen';
  $media-type-key: 'media-type';
  $args: meta.keywords($args);

  @if map.has-key($args, $media-type-key) {
    $media-type: map.get($args, $media-type-key);
    $args: map.remove($args, $media-type-key);
  }

  $expr: '';

  @each $key, $value in $args {
    @if $value {
      $expr: "#{$expr} and (#{$key}: #{$value})";
    }
  }

  @media #{$media-type} #{$expr} {
    @content;
  }
}

// screen
@mixin screen($min, $max, $orientation: false) {
  @include mq($min-width: $min, $max-width: $max, $orientation: $orientation) {
    @content;
  }
}

// max widthのメディアクエリ
@mixin max-screen($max: $bp_sp) {
  @include mq($max-width: $max) {
    @content;
  }
}

// min widthのメディアクエリ
@mixin min-screen($min: $bp_pc) {
  @include mq($min-width: $min) {
    @content;
  }
}

// コンテンツの最大幅用
@mixin pc-fluid-size($property, $values, $viewport: $vp_pc) {
  $is-list: meta.type-of($values) == 'list';

  @media (min-width: $bp_pc) {
    @if $is-list {
      $vw-values: ();

      @each $v in $values {
        $vw-values: list.append($vw-values, get_vw($v, $viewport), 'space');
      }

      #{$property}: #{$vw-values};
    }
    @else {
      #{$property}: #{get_vw($values, $viewport)};
    }
  }

  @media (min-width: 1440px) {
    @if $is-list {
      $px-values: ();

      @each $v in $values {
        $px-values: list.append($px-values, $v + px, 'space');
      }

      #{$property}: #{$px-values};
    }
    @else {
      #{$property}: #{$values}px;
    }
  }
}

// 背景サイズ用
@mixin pc-fluid-bg-size($width, $height, $viewport: $vp_pc) {
  @media (min-width: $bp_pc) {
    background-size: #{get_vw($width, $viewport)} #{if($height == auto, auto, get_vw($height, $viewport))};
  }

  @media (min-width: 1440px) {
    background-size: #{$width}px #{if($height == auto, auto, $height + px)};
  }
}
