@use '../setting/setting' as *;
@use '../setting/mixin' as *;

.contact{
  &__wrapper{
    position: relative;
    margin-top: get_vw(-46);
    padding-top: get_vw(126);
    padding-bottom: get_vw(82);
    @include pc-fluid-size(margin-top, (-0));
    @include pc-fluid-size(padding-top, (190));
    @include pc-fluid-size(padding-bottom, (100));

  }
  &__bg{
    background-image: url('../img/common/beige_bg.png');
    background-size: 100% 100%;
    width: 100%;
    height: get_vw(232);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    pointer-events: none;
    @include pc-fluid-size(height, (378));
    @include min-screen{
      background-image: url('../img/common/beige_bg_pc.png');
    }
  }
  &__h1{
    margin-top: get_vw(32);
    position: relative;
    font-size: get_vw(24);
    color: $c_black;
    text-align: center;
    @include pc-fluid-size(margin-top, (40));
    @include pc-fluid-size(font-size, (56));
  }
  &__section{
    margin-top: get_vw(104);
    padding-inline: get_vw(20);
    @include pc-fluid-size(margin-top, (185));
    @include pc-fluid-size(padding-inline, (220));
  }
  &__box{
    &:not(:first-child){
      margin-top: get_vw(40);
      @include pc-fluid-size(margin-top, (40));
    }
    & h2{
      font-size: get_vw(24);
      font-weight: 500;
      line-height: calc(40/24);
      @include pc-fluid-size(font-size, (24));
    }
    & p {
      font-size: get_vw(18);
      font-weight: 300;
      line-height: calc(28/18);
      margin-top: get_vw(30);
      @include pc-fluid-size(font-size, (18));
      @include pc-fluid-size(margin-top, (20));
      @include min-screen{
        line-height: calc(40/18);
      }
    }

    &--btn {
      @include btn-i;
      width: get_vw(350);
      height: get_vw(50);
      font-size: get_vw(14);
      font-weight: 500;
      border-radius: get_vw(100);
      margin-top: get_vw(40);
      @include pc-fluid-size(width, (600));
      @include pc-fluid-size(height, (80));
      @include pc-fluid-size(font-size, (18));
      @include pc-fluid-size(margin-top, (30));
      @include after{
        @include pc-fluid-size(width, (60));
        @include pc-fluid-size(height, (60));
        @include pc-fluid-size(right, (10));
      }
    }
  }
}