@use '../setting/setting'as *;
@use '../setting/mixin'as *;

.sponsor-detail {
  &__contact {
    margin-top: get_vw(36);
    @include pc-fluid-size(margin-top, (80));

    p {
      font-size: get_vw(24);
      font-weight: $w_medium;
      line-height: calc(42/24);
      margin-top: 0;
      @include pc-fluid-size(font-size, (24));
      @include pc-fluid-size(line-height, (42));

      @include min-screen {
        text-align: center;
      }
    }
  }

  &__contact--btn {
    @include btn-w;
    margin-top: get_vw(40);
    @include pc-fluid-size(border-radius, (40));
    @include pc-fluid-size(width, (600));
    @include pc-fluid-size(height, (80));
    @include pc-fluid-size(margin-top, (40));

    @include min-screen() {
  
      &:hover {
        border-color: $c_white;
      }
    }

    span {
      @include pc-fluid-size(font-size, (18));
    }

    @include after() {
      @include pc-fluid-size(width, (60));
      @include pc-fluid-size(height, (60));
    }
  }

  &__postdate {
    margin-top: 0;
  }

  p.sponsor-detail__postdate {
    font-size: get_vw(14);
    font-weight: $w_light;
    line-height: calc(28/14);
    margin-bottom: get_vw(16);
    @include pc-fluid-size(font-size, (14));
    @include pc-fluid-size(margin-bottom, (16));

    @include min-screen {
      line-height: 1;
    }
  }

  .detail__content-img {
    margin-top: get_vw(20);
    @include pc-fluid-size(margin-top, (20));
  }
}