@use '../setting/setting' as *;
@use '../setting/mixin' as *;

.sponsors {
  &__wrapper{
    position: relative;
    margin-top: get_vw(-46);
    padding-top: get_vw(126);
    padding-bottom: get_vw(100);
    @include pc-fluid-size(margin-top, (-0));
    @include pc-fluid-size(padding-top, (190));
    @include pc-fluid-size(padding-bottom, (198));

  }
  &__bg{
    background-image: url('../img/common/purple_bg.png');
    background-size: 100% 100%;
    width: 100%;
    height: get_vw(232);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    pointer-events: none;
    @include pc-fluid-size(height, (378));
    @include min-screen{
      background-image: url('../img/common/purple_bg_pc.png');
    }
  }
  &__h1{
    margin-top: get_vw(32);
    position: relative;
    font-size: get_vw(24);
    color: $c_white;
    text-align: center;
    @include pc-fluid-size(margin-top, (40));
    @include pc-fluid-size(font-size, (56));
  }
  &__nav{
    @include anchor-nav;

    &--list {
      margin: get_vw(52) auto 0;
      @include pc-fluid-size(width, (428));
      @include pc-fluid-size(margin-top, (108));
    }

    &--item {
      padding-inline: get_vw(11);
    }
  }
  &__btn {
    @include btn-i;
    margin-top: get_vw(40);
    @include pc-fluid-size(border-radius, (40));
    @include pc-fluid-size(width, (600));
    @include pc-fluid-size(height, (80));
    @include pc-fluid-size(margin-top, (40));

    span {
      @include pc-fluid-size(font-size, (18));
    }

    @include after() {
      width: get_vw(60);
      height: get_vw(60);
      @include pc-fluid-size(width, (60));
      @include pc-fluid-size(height, (60));
    }
  }
  &__section{
    margin-top: get_vw(80);
    padding-inline: get_vw(20);
    @include pc-fluid-size(margin-top, (95));
    @include pc-fluid-size(padding-inline, (78));

    &.list {
      padding-inline: get_vw(15);
      margin-top: get_vw(105);
      @include pc-fluid-size(margin-top, (185));
    }
  }
  &__h2{
    font-size: get_vw(24);
    color: $c_black;
    text-align: center;
    position: relative;
    line-height: calc(34/24);
    @include pc-fluid-size(font-size, (40));
    @include after{
      background-color: $common_h2;
      width: get_vw(25);
      height: get_vw(2);
      border-radius: get_vw(20);
      position: absolute;
      bottom: get_vw(-20);
      left: 50%;
      transform: translateX(-50%);
      @include pc-fluid-size(width, (25));
      @include pc-fluid-size(height, (2));
      @include pc-fluid-size(bottom, (-16));
    }
  }
  &__text {
    font-size: get_vw(18);
    line-height: calc(28/18);
    margin-top: get_vw(80);
    @include pc-fluid-size(font-size, (18));
    @include pc-fluid-size(margin-top, (95));
  }
  &__zero-txt{
    display: none;
    width: get_vw(220);
    margin-top: get_vw(40);
    margin-inline: auto;
    font-size: get_vw(24);
    font-weight: 500;
    line-height: calc(32/24);
    text-align: center;
    color: $c_black;
    @include pc-fluid-size(font-size, (32));
    @include pc-fluid-size(margin-top, (80));
    @include min-screen{
      width: 100%;
    }
  }
  &__box-list{
    display: block;
    margin: get_vw(40) auto 0;
    @include pc-fluid-size(width, (1284));
    @include pc-fluid-size(margin-top, (40));
    @include pc-fluid-size(gap, (20));
    @include min-screen{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-inline: auto;
    }
  }
  &__box-item{
    display: block;
    margin-top: get_vw(40);
    width: 100%;
    @include pc-fluid-size(margin-top, (0));
    @include pc-fluid-size(width, (306));
    @include pc-fluid-size(flex-basis, (306));
    @include min-screen{
      cursor: pointer;
      &:hover{
        & img{
          scale: 1.1;
        }
      }
    }
    &> p{
      margin-top: get_vw(20);
      font-size: get_vw(18);
      color: $c_black;
      @include pc-fluid-size(margin-top, (27));
      @include pc-fluid-size(font-size, (18));
    }
    &> h4{
      margin-top: get_vw(17);
      font-size: get_vw(24);
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2; 
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      line-height: calc(32/24);
      @include pc-fluid-size(margin-top, (28));
      @include pc-fluid-size(font-size, (24));
      @include pc-fluid-size(line-height, (32));
    }
    &> span{
      display: block;
      margin-top: get_vw(24);
      padding-left: get_vw(27);
      font-size: get_vw(18);
      position: relative;
      @include pc-fluid-size(margin-top, (28));
      @include pc-fluid-size(padding-left, (27));
      @include pc-fluid-size(font-size, (18));
      @include before{
        background-image: url("../img/common/event_pink.png");
        background-size: 100% 100%;
        width: get_vw(18);
        height: get_vw(27);
        position: absolute;
        top: 50%;
        left: get_vw(0);
        transform: translateY(-50%);
        @include pc-fluid-size(width, (18));
        @include pc-fluid-size(height, (27));
      }
      &.main{
        color: $c_green;
        @include before{
          background-image: url("../img/common/event_green.png");
        }
      }
      &.tora{
        color: $c_red;
      }
      &.kochi{
        color: $c_blue;
        @include before{
          background-image: url("../img/common/event_blue.png");
        }
      }
      &.wing{
        color: $c_orange;
        @include before{
          background-image: url("../img/common/event_orange.png");
        }
      }
      &.monchi{
        color: $c_pink;
        @include before{
          background-image: url("../img/common/event_pink.png");
        }
      }
      &.iris{
        color: $c_purple;
        @include before{
          background-image: url("../img/common/event_purple.png");
        }
      }
    }
    & img{    
      transition: all 0.4s ease;
    }

    &.new {
      .sponsors__box-img {
        @include after() {
          content: 'NEW';
          border-radius: 0 0 get_vw(10) 0;
          background-color: $c_red;
          font-size: get_vw(14);
          color: $c_white;
          width: get_vw(88);
          height: get_vw(40);
          @include center;
          position: absolute;
          top: 0;
          left: 0;
          @include pc-fluid-size(border-radius, (0 0 10 0));
          @include pc-fluid-size(font-size, (14));
          @include pc-fluid-size(width, (88));
          @include pc-fluid-size(height, (40));
        }
      }
    }
  }
  &__box-img{
    border-radius: get_vw(20) get_vw(20) 0 0;
    @include pc-fluid-size(border-radius, (40));
    overflow: hidden;
    position: relative;
  }
  &__box-cat{
    margin-top: get_vw(20);
    display: flex;
    flex-wrap: wrap;
    column-gap: get_vw(10);
    row-gap: get_vw(10);
    @include pc-fluid-size(margin-top, (30));
    @include pc-fluid-size(column-gap, (10));
    @include pc-fluid-size(row-gap, (10));
    & span{
      height: get_vw(22);
      padding: 0 get_vw(8);
      font-size: get_vw(10);
      font-weight: 300;
      text-align: center;
      align-content: center;
      background-color: $c_lightgray;
      border-radius: get_vw(30);
      @include center;
      @include pc-fluid-size(height, (22));
      @include pc-fluid-size(padding, (8));
      @include pc-fluid-size(font-size, (10));
      @include pc-fluid-size(border-radius, (30));
      @include min-screen{
      }
    }
  }
  &__h3 {
    text-align: center;
    margin: get_vw(100) auto 0;
    position: relative;
    @include pc-fluid-size(width, (1280));
    @include pc-fluid-size(margin-top, (100));

    @include before() {
      background-color: $c_purple;
      width: 100%;
      height: get_vw(4);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include pc-fluid-size(height, (4));
    }
    span {
      background-color: $c_white;
      font-size: get_vw(24);
      padding: 0 get_vw(5);
      position: relative;
      z-index: 2;
      @include pc-fluid-size(font-size, (24));
      @include pc-fluid-size(padding, (0,7));
    }
  }
  &__special {
    margin: 0 auto;
    @include pc-fluid-size(width, (1280));

    &--list {
      @include min-screen() {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      @include pc-fluid-size(padding, (100 0 0));
      @include pc-fluid-size(gap, (80, 50));
    }
    
    &--item {
      text-align: center;
      padding: 0 get_vw(15);
      margin: get_vw(60) 0 0;
      @include pc-fluid-size(flex-basis, (320));
      @include pc-fluid-size(padding, (0));
      @include pc-fluid-size(margin, (0));
    }

    &--logo {
      width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
    }
    
    &--text {
      font-size: get_vw(24);
      line-height: calc(32/24);
      font-weight: $w_medium;
      margin: get_vw(12) 0 0;
      @include pc-fluid-size(font-size, (24));
      @include pc-fluid-size(margin, (0));
    }
  }
  &__list {
    margin: 0 auto;
    @include pc-fluid-size(width, (1280));

    &--type {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: get_vw(60) 0 get_vw(5);
      @include pc-fluid-size(margin, (50 0 5));

      span {
        font-family: $font_noto;
        font-size: get_vw(18);
        font-weight: 700;
        letter-spacing: 0.1em;
        padding: 0 0 0 get_vw(20);
        display: inline-block;
        position: relative;
        @include pc-fluid-size(font-size, (18));
        @include pc-fluid-size(padding, (0 0 0 25));

        &:before {
          content: '';
          display: block;
          background-repeat: no-repeat;
          background-size: contain;
          width: get_vw(16);
          height: get_vw(16);
          position: absolute;
          top: get_vw(3);
          left: 0;
          @include pc-fluid-size(width, (17));
          @include pc-fluid-size(height, (17));
          @include pc-fluid-size(top, (3));
        }
      }
      &.platinum {
        span {
          color: #AFB8B9;

          &:before {
            background-image: url('../img/sponsors/list/icon_platinum.png');
          }
        }
      }
      &.gold {
        span {
          color: #CDAB46;

          &:before {
            background-image: url('../img/sponsors/list/icon_gold.png');
          }
        }
      }
      &.silver {
        span {
          color: #999999;

          &:before {
            background-image: url('../img/sponsors/list/icon_silver.png');
          }
        }
      }
      &.bronze {
        span {
          color: #C79D6A;

          &:before {
            background-image: url('../img/sponsors/list/icon_bronze.png');
          }
        }
      }
      &.blue {
        span {
          color: #89B9E6;

          &:before {
            background-image: url('../img/sponsors/list/icon_blue.png');
          }
        }
      }
    }

    &--name {
      height: get_vw(30);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      position: relative;
      z-index: 2;
      @include pc-fluid-size(height, (30));

      span {
        background-color: #fff;
        font-size: get_vw(24);
        color: #727272;
        font-weight: $w_medium;
        letter-spacing: 0.1em;
        line-height: 1;
        padding: 0 get_vw(15);
        @include pc-fluid-size(font-size, (24));
        @include pc-fluid-size(padding, (0 20));
      }
    }

    &--list {
      border: get_vw(2) solid #C7C7C7;
      border-radius: get_vw(8);
      text-align: center;
      padding: get_vw(40) get_vw(10) get_vw(80);
      margin: get_vw(-15) auto 0;
      @include pc-fluid-size(border-width, (2));
      @include pc-fluid-size(width, (1280));
      @include pc-fluid-size(padding, (100 20 75));
      @include pc-fluid-size(margin-top, (-15));
      @include pc-fluid-size(gap, (80, 50));
    
      @include min-screen() {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
        
      &.lv1 {
        .sponsors__list--item {
          @include pc-fluid-size(flex-basis, (320));
        }

        .sponsors__list--logo {
          width: get_vw(320);
          @include pc-fluid-size(width, (320));
          @include pc-fluid-size(flex-basis, (320));
        }
      }

      &.lv2 {
        .sponsors__list--item {
          @include pc-fluid-size(flex-basis, (260));
        }
        .sponsors__list--logo {
          width: get_vw(260);
          @include pc-fluid-size(width, (260));;
        }

        .sponsors__list--text {
          font-size: get_vw(20);
          line-height: calc(32/20);
          @include pc-fluid-size(font-size, (20));
        }
      }

      &.lv3 {
        .sponsors__list--item {
          margin: get_vw(50) auto 0;
          @include pc-fluid-size(flex-basis, (240));
          @include pc-fluid-size(margin, (0));
        }
        .sponsors__list--logo {
          width: get_vw(240);
          @include pc-fluid-size(width, (240));
        }
        .sponsors__list--text {
          font-size: get_vw(18);
          line-height: calc(32/18);
          @include pc-fluid-size(font-size, (18));
        }
      }

      &.lv4 {
        padding: get_vw(40) get_vw(50) get_vw(80);
        @include pc-fluid-size(padding, (55 50 45));
        @include pc-fluid-size(gap, (30, 20));

        @include min-screen() {
          align-items: center;
        }

        .sponsors__list--item {
          margin: get_vw(40) auto 0;
          @include pc-fluid-size(flex-basis, (240));
          @include pc-fluid-size(margin, (0));
        }

        .sponsors__list--text {
          font-size: get_vw(18);
          line-height: calc(24/18);
          margin: 0;
          @include pc-fluid-size(font-size, (18));
          @include min-screen() {
            line-height: calc(28/18);
          }
        }
      }

      &.lv5 {
        padding: get_vw(40) get_vw(50) get_vw(80);
        @include pc-fluid-size(padding, (55 50 45));
        @include pc-fluid-size(gap, (30, 15));

        @include min-screen() {
          align-items: center;
        }

        .sponsors__list--item {
          margin: get_vw(30) auto 0;
          @include pc-fluid-size(flex-basis, (190));
          @include pc-fluid-size(margin, (0));
        }

        .sponsors__list--text {
          font-size: get_vw(18);
          line-height: calc(24/18);
          margin: 0;
          @include pc-fluid-size(font-size, (14));
          @include min-screen() {
            line-height: calc(18/14);
          }
        }
      }
    }

    &--link {
      @include min-screen() {
        transition: .3s;

        &:hover {
            opacity: .8;
        }
      }
    }

    &--item {
      text-align: center;
      margin: get_vw(60) auto 0;
      @include pc-fluid-size(margin, (0));
    }

    &--logo {
      width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
    }

    &--text {
      font-size: get_vw(24);
      line-height: calc(32/24);
      font-weight: $w_medium;
      margin: get_vw(12) 0 0;
      @include pc-fluid-size(font-size, (24));
      @include pc-fluid-size(margin, (12 0 0));
    }
  } 
}