@use '../setting/setting'as *;
@use '../setting/mixin'as *;

.common {

    &__bread {
        @include common-bread;
    }
    &__btn-w {
        @include btn-w;
    }
    &__btn-i {
        @include btn-i;
    }
}