@use '../setting/setting'as *;
@use '../setting/mixin'as *;

.common {

    &__bread {
        @include common-bread;
    }
    &__btn-w {
        @include btn-w;
    }
    &__btn-i {
        @include btn-i;
    }
    &__btn-w-l {
        @include btn-w-l;
    }
    &__btn-i {
        @include btn-i-l;
    }
    &__btn-w-icon {
        @include btn-w-icon;
    }
    &__btn-i-icon {
        @include btn-i-icon;
    }
}