@use '../setting/setting'as *;
@use '../setting/mixin'as *;

.detail {
  &__wrap {
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding-top: get_vw(80);
    padding-bottom: get_vw(100);
    @include pc-fluid-size(padding-top, (175));
    @include pc-fluid-size(padding-bottom, (100));
  }

  &__inner {
    padding: 0 get_vw(20);

    @include min-screen {
      padding: 0;
    }
  }

  &__header {
    margin: 0 auto;
    width: 100%;
    padding: get_vw(30) 0;
    @include pc-fluid-size(max-width, (1280));
    @include pc-fluid-size(padding-top, (30));
    @include pc-fluid-size(padding-bottom, (72));
  }

  &__header-title {
    color: $c_black;
    font-size: get_vw(24);
    font-weight: $w_medium;
    line-height: calc(40/24);
    margin-top: get_vw(33);
    @include pc-fluid-size(font-size, (40));
    @include pc-fluid-size(margin-top, (31));

    @include min-screen {
      line-height: calc(56/40);
    }
  }

  &__header-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: get_vw(20);
    @include pc-fluid-size(gap, (10));

    @include min-screen {
      flex-direction: row;
      align-items: center;
    }

    &[data-update="new"] {
      &:before {
        content: "NEW";
        @include center;
        background-color: $c_red;
        border-radius: get_vw(30);
        color: $c_white;
        font-size: get_vw(10);
        width: get_vw(80);
        height: get_vw(22);
        @include pc-fluid-size(border-radius, (30));
        @include pc-fluid-size(font-size, (10));
        @include pc-fluid-size(width, (74));
        @include pc-fluid-size(height, (22));
      }
    }
  }

  &__header-datetime {
    color: $c_black;
    font-size: get_vw(24);
    font-weight: $w_medium;
    line-height: calc(32/24);
    @include pc-fluid-size(font-size, (24));

    @include min-screen {
      line-height: calc(38/24);
    }
  }

  &__header-area {
    color: $c_black;
    font-size: get_vw(18);
    font-weight: $w_medium;
    line-height: calc(24/18);
    display: flex;
    align-items: center;
    gap: get_vw(10);
    margin-top: get_vw(16);
    @include pc-fluid-size(font-size, (18));
    @include pc-fluid-size(gap, (10));
    @include pc-fluid-size(margin-top, (10));

    svg {
      width: get_vw(18.71);
      height: get_vw(27);
      @include pc-fluid-size(width, (18.71));
      @include pc-fluid-size(height, (27));

      path {
        fill: $c_black;
      }
    }

    &[data-area="monchi"] {
      color: $c_pink;

      svg path {
        fill: $c_pink;
      }
    }

    &[data-area="tora"] {
      color: $c_red;

      svg path {
        fill: $c_red;
      }
    }

    &[data-area="main"] {
      color: $c_green;

      svg path {
        fill: $c_green;
      }
    }

    &[data-area="iris"] {
      color: $c_purple;

      svg path {
        fill: $c_purple;
      }
    }

    &[data-area="wing"] {
      color: $c_orange;

      svg path {
        fill: $c_orange;
      }
    }

    &[data-area="kochi"] {
      color: $c_blue;

      svg path {
        fill: $c_blue;
      }
    }
  }

  &__header-category {
    display: flex;
    gap: get_vw(10);
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: get_vw(20);
    @include pc-fluid-size(gap, (10));
    @include pc-fluid-size(margin-top, (18));

    p {
      background-color: $c_lightgray;
      border-radius: get_vw(30);
      color: $c_black;
      font-size: get_vw(10);
      font-weight: $w_light;
      line-height: calc(24/10);
      padding: get_vw(2) get_vw(14);
      @include pc-fluid-size(border-radius, (30));
      @include pc-fluid-size(font-size, (10));
      @include pc-fluid-size(padding, (0 12));
    }
  }

  &__content {
    background-color: $c_ivory;
    padding-top: get_vw(40);
    padding-bottom: get_vw(40);
    @include pc-fluid-size(padding-top, (92));
    @include pc-fluid-size(padding-bottom, (100));
  }

  &__content-img {
    width: 100%;
    height: get_vw(262);
    border-radius: get_vw(20);
    position: relative;
    overflow: hidden;
    @include pc-fluid-size(border-radius, (40));
    @include pc-fluid-size(margin-top, (20));
    @include pc-fluid-size(margin-bottom, (20));
    @include pc-fluid-size(height, (620));

    img {
      object-fit: cover;
      max-height: 100%;
      height: 100%;
    }
  }

  &__content-wrap {
    margin: 0 auto;
    width: 100%;
    @include pc-fluid-size(max-width, (1280));

    h2 {
      color: $c_black;
      font-weight: $w_medium;
      font-size: get_vw(18);
      line-height: calc(32/18);
      border-bottom: solid get_vw(2) $c_orange;
      padding-bottom: get_vw(6);
      margin-bottom: get_vw(12);
      @include pc-fluid-size(font-size, (24));
      @include pc-fluid-size(border-bottom-width, (2));
      @include pc-fluid-size(padding-bottom, (4));
      @include pc-fluid-size(margin-bottom, (18));

      @include min-screen {
        line-height: calc(32/24);
        width: fit-content;
      }

      &:not(:first-child) {
        margin-top: get_vw(10);
      }
    }

    h3 {
      color: $c_black;
      font-weight: $w_medium;
      font-size: get_vw(18);
      line-height: calc(32/18);
      margin-bottom: get_vw(7);
      position: relative;
      padding-left: get_vw(20);
      @include pc-fluid-size(font-size, (20));
      @include pc-fluid-size(margin-bottom, (10));
      @include pc-fluid-size(padding-left, (26));

      @include min-screen {
        line-height: calc(38/20);
      }

      &:not(:first-child) {
        margin-top: get_vw(25);
        @include pc-fluid-size(margin-top, (70));
      }

      @include before {
        position: absolute;
        background-color: $c_orange;
        width: get_vw(10);
        height: get_vw(10);
        top: get_vw(13);
        left: 0;
        @include pc-fluid-size(width, (14));
        @include pc-fluid-size(height, (14));
        @include pc-fluid-size(border-radius, (2));
        @include pc-fluid-size(top, (14));
      }
    }

    h4 {
      border-left: solid get_vw(2) $c_black;
      color: $c_black;
      font-weight: $w_medium;
      font-size: get_vw(18);
      margin-bottom: get_vw(10);
      padding-left: get_vw(8);
      line-height: calc(28/18);
      @include pc-fluid-size(border-left-width, (2));
      @include pc-fluid-size(font-size, (18));
      @include pc-fluid-size(margin-bottom, (15));
      @include pc-fluid-size(padding-left, (8));

      &:not(:first-child) {
        margin-top: get_vw(28);
        @include pc-fluid-size(margin-top, (72));
      }
    }

    p {
      font-weight: $w_light;
      font-size: get_vw(18);
      line-height: calc(28/18);
      margin-top: get_vw(10);
      margin-bottom: get_vw(10);
      @include pc-fluid-size(font-size, (18));
      @include pc-fluid-size(margin-top, (10));
      @include pc-fluid-size(margin-bottom, (10));
    }

    // img {
    //   width: 100%;
    //   border-radius: get_vw(20);
    //   @include pc-fluid-size(border-radius, (40));
    //   @include pc-fluid-size(margin-top, (20));
    //   @include pc-fluid-size(margin-bottom, (20));
    // }

    ul {
      margin-top: get_vw(10);
      margin-bottom: get_vw(10);
      @include pc-fluid-size(margin-top, (20));
      @include pc-fluid-size(margin-bottom, (20));

      li {
        font-weight: $w_light;
        font-size: get_vw(18);
        line-height: calc(28/18);
        padding-left: get_vw(24);
        position: relative;
        @include pc-fluid-size(font-size, (18));
        @include pc-fluid-size(padding-left, (28));

        @include before {
          content: "ãƒ»";
          display: inline-block;
          color: $c_black;
          font-size: get_vw(18);
          position: absolute;
          left: get_vw(4);
          @include pc-fluid-size(font-size, (18));
          @include pc-fluid-size(left, (6));
        }
      }
    }

    a {
      color: $c_orange;
      border-bottom: solid 1px $c_orange;
      font-weight: $w_light;
      font-size: get_vw(18);
      line-height: calc(28/18);
      margin-top: get_vw(10);
      margin-bottom: get_vw(10);
      @include pc-fluid-size(font-size, (18));
    }
  }

  &__content-block {
    margin-top: get_vw(30);
    @include pc-fluid-size(margin-top, (37));

    &:not(:first-of-type) {
      @include pc-fluid-size(margin-top, (70));
    }
  }

  &__back {
    @include center;
    background-color: $c_ivory;
    border-radius: get_vw(100);
    color: $c_black;
    font-size: get_vw(14);
    margin: 0 auto;
    width: get_vw(350);
    height: get_vw(50);
    margin-top: get_vw(76);
    @include pc-fluid-size(border-radius, (80));
    @include pc-fluid-size(font-size, (18));
    @include pc-fluid-size(width, (600));
    @include pc-fluid-size(height, (80));
    @include pc-fluid-size(margin-top, (80));
  }

  &__bread {
    position: relative;
    font-size: get_vw(10);
    font-weight: $w_medium;
    color: $c_gray;
    margin: 0 auto;
    width: 100%;
    @include pc-fluid-size(font-size, (14));
    @include pc-fluid-size(max-width, (1280));

    @include max-screen {
      padding: 0 get_vw(20);
    }

    & span {
      &::after {
        content: '>';
        margin: 0 get_vw(8);
        @include pc-fluid-size(margin, (0 8));
      }

      &:last-of-type::after {
        content: '';
        margin: 0;
      }
    }

    a {
      color: $c_black;
    }
  }
}