@use '../setting/setting'as *;
@use '../setting/mixin'as *;

.footer {
    position: relative;
    z-index: 5;

    &___sponsors {
        width: 100%;
        
        &--title {
            background-color: $c_ivory;
            border-radius: get_vw(20) get_vw(20) 0 0;
            height: get_vw(100);
            @include center;
            @include pc-fluid-size(border-radius, (40 40 0 0));
            @include pc-fluid-size(height, (117));

            span {
                font-size: get_vw(20);
                @include pc-fluid-size(font-size, (32));
            }
        }

        &--contents {
            @include pc-fluid-size(width, (1440));
            margin: 0 auto;
        }

        &--main {
            @include center;
            flex-wrap: wrap;
            gap: get_vw(10);
            margin: get_vw(10) 0 0;
            @include pc-fluid-size(width, (1440));
            @include pc-fluid-size(gap, (10 35));
            @include pc-fluid-size(margin, (40 0 0));

            &-item {
                a {
                    height: get_vw(95);
                    display: block;
                    @include hov-opacity;
                    @include pc-fluid-size(height, (148));
                }

                img {
                    @include img-ver;
                }
            }   
        }

        &--sub {
            @include center;
            flex-wrap: wrap;
            gap: get_vw(6);
            margin: get_vw(20) 0 0;
            @include pc-fluid-size(gap, (12 42));
            @include pc-fluid-size(margin, (60 0 0));

            &-item {
                a {
                    height: get_vw(60);
                    display: block;
                    @include hov-opacity;
                    @include pc-fluid-size(height, (90));
                }

                img {
                    @include img-ver;
                }
            }   
        }

        &--btn {
            padding-right: get_vw(45);
            margin-top: get_vw(45);
            @include pc-fluid-size(padding-right, (45));
            @include pc-fluid-size(margin-top, (80));

            span {
                @include before() {
                    background-image: url('../data/webp/common/icon_group.webp');
                    width: get_vw(27);
                    height: get_vw(19);
                    margin-right: get_vw(20);
                    @include pc-fluid-size(width, (30));
                    @include pc-fluid-size(height, (24));
                    @include pc-fluid-size(margin-right, (15));
                }
            }

            @include btn-l-icon;
        }
    }

    &__main {
        margin: get_vw(166) 0 0;
        position: relative;
        @include pc-fluid-size(margin, (205 0 0));

        &--pagetop {
            width: get_vw(166);
            position: absolute;
            top: get_vw(-91);
            right: 0;
            display: block;
            z-index: 2;
            @include hov-opacity;
            @include pc-fluid-size(width, (225));
            @include pc-fluid-size(top, (-120));
            @include pc-fluid-size(right, (40));
        }

        &--bg {
            background-color: $c_ivory;
            border-radius: get_vw(20) get_vw(20) 0 0;
            padding: get_vw(78) get_vw(5) get_vw(40) get_vw(20);
            position: relative;
            @include pc-fluid-size(border-radius, (40 40 0 0));
            @include pc-fluid-size(padding, (60 0 40));

            @include before() {
                background-image: url('../data/webp/common/footer/bg.webp');
                background-position: 0 0;
                background-repeat: no-repeat;
                background-size: contain;
                width: 100%;
                height: get_vw(46);
                position: absolute;
                top: get_vw(-46);
                left: 0;
                @include pc-fluid-size(width, (1440));
                @include pc-fluid-size(height, (100));
                @include pc-fluid-size(top, (-100));

                @include min-screen() {
                    background-image: url('../data/webp/common/footer/bg_pc.webp');
                }

                @include min-screen(1440px) {
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        &--contents {
            @include pc-fluid-size(width, (1285));
            @include min-screen() {
                margin: 0 auto;
                display: flex;
                align-items: center;
            }
        }
    }

    &__block {
        @include pc-fluid-size(flex-basis, (680));
        @include min-screen() {
            order: 2;
        }
        &--tit {
            font-size: get_vw(32);
            font-weight: $w_medium;
            @include pc-fluid-size(font-size, (20));

            &:not(:first-child) {
                margin-top: get_vw(80);
                @include pc-fluid-size(margin-top, (42));
            }
        }
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
        margin: get_vw(20) 0 0;
        @include pc-fluid-size(margin, (0));
        
        a {
            flex-basis: get_vw(135);
            font-size: get_vw(20);
            font-weight: $w_light;
            margin: get_vw(20) 0;
            display: block;
            @include hov-opacity;
            @include pc-fluid-size(flex-basis, (112));
            @include pc-fluid-size(font-size, (18));
            @include pc-fluid-size(margin, (18 30 0 0));

            @include max-screen() {
                &:nth-child(even) {
                    margin: get_vw(20) 0 get_vw(20) get_vw(60);
                }
            }
        }
    }

    &__subnav {
        @include min-screen() {
            display: flex;
        }

        a {
            font-size: get_vw(14);
            font-weight: $w_light;
            margin: get_vw(20) 0 0;
            display: block;
            @include hov-opacity;
            @include pc-fluid-size(font-size, (14));
            @include pc-fluid-size(margin, (20 25 0 0));
        }
    }

    &__sns {
        display: flex;
        margin: get_vw(40) 0 0;
        @include pc-fluid-size(margin, (20 0 0));

        &--item {
            flex-basis: get_vw(52);
            @include pc-fluid-size(flex-basis, (44));
            display: block;
            @include hov-opacity;

            &:not(:first-child) {
                margin-left: get_vw(40);
                @include pc-fluid-size(margin-left, (40));
            }
        }
    }

    &__contact {
        margin: get_vw(40) 0 0;
        @include pc-fluid-size(margin, (20 0 0));

        @include min-screen() {
            display: flex;
        }

        &--tel {
            font-size: get_vw(18);
            line-height: calc(24/18);
            @include pc-fluid-size(font-size, (18));

            a {
                @include hov-underline;
            }

            span {
                font-size: get_vw(14);
                letter-spacing: -0.025rem;
                @include pc-fluid-size(font-size, (14));
            }
        }

        &--katsushika {
            width: get_vw(200);
            margin: get_vw(20) 0 0;
            display: block;
            @include hov-opacity;
            @include pc-fluid-size(width, (126));
            @include pc-fluid-size(margin, (0 0 0 15));
        }
    }

    &__img {
        border-radius: get_vw(20);
        background-color: $c_white;
        width: get_vw(350);
        padding: get_vw(40) get_vw(65);
        margin: get_vw(80) 0 0;
        @include pc-fluid-size(border-radius, (40));
        @include pc-fluid-size(width, (412));
        @include pc-fluid-size(flex-basis, (412));
        @include pc-fluid-size(padding, (107 62 97));
        @include pc-fluid-size(margin, (0 50 0 0));
        @include min-screen() {
            order: 1;
        }

        &--logo {
            display: block;
            margin: get_vw(30) 0 0;
            @include hov-opacity;
            @include pc-fluid-size(margin, (65 0 0));
        }
    }

    &__copyright {
        font-size: get_vw(14);
        text-align: center;
        margin: get_vw(40) 0 0;
        @include pc-fluid-size(font-size, (10));
        @include pc-fluid-size(margin, (0));
        @include pc-fluid-size(bottom, (55));
        @include pc-fluid-size(right, (75));
        @include min-screen() {
            position: absolute;
        }
    }

    &.top {
        margin-top: get_vw(-20);
        @include pc-fluid-size(margin-top, (-40));
    }
}