@use '../setting/setting'as *;
@use '../setting/mixin'as *;



.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;

  &__inner {
    display: flex;
    align-items: center;
    height: get_vw(60);
    padding: 0 get_vw(20);
    @include pc-fluid-size(height, (168));
    @include pc-fluid-size(padding, (0 40));
  }

  &__logo {
    border-right: $c_ivory solid;
    border-right-width: get_vw(3);
    height: get_vw(40);
    padding-right: get_vw(12);
    display: block;
    @include hov-opacity;
    @include pc-fluid-size(border-right-width, (2));
    @include pc-fluid-size(height, (85));
    @include pc-fluid-size(padding-right, (22));

    img {
      @include img-ver;
    }
  }

  &__info {
    margin-left: get_vw(12);

    @include min-screen(1100px) {
      margin-left: get_vw(20, $vp_pc_min);
    }
  }

  &__date {
    display: flex;
    align-items: center;

    &--yaer {
      font-size: get_vw(10);

      @include min-screen(1100px) {
        font-size: get_vw(14, $vp_pc_min);
      }
    }

    &--period {
      display: flex;
      align-items: center;
      font-size: get_vw(14);
      margin-left: get_vw(10);

      @include min-screen(1100px) {
        font-size: get_vw(24, $vp_pc_min);
        margin-left: get_vw(10, $vp_pc_min);
      }

      img {
        width: get_vw(7);
        margin: 0 get_vw(7);
        display: inline-block;

        @include min-screen(1100px) {
          width: get_vw(14, $vp_pc_min);
          margin: 0 get_vw(5, $vp_pc_min);
        }
      }
    }
  }

  &__countdown {
    font-size: get_vw(10);
    @include pc-fluid-size(font-size, 12);

    &--num {
      background-image: url('../data/webp/common/header/path.webp');
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: contain;
      color: #e64b2c;
      font-size: get_vw(20);
      @include pc-fluid-size(font-size, 12);
      font-weight: bold;
      padding-bottom: get_vw(2);
      margin-left: get_vw(10);

      small {   
        font-size: get_vw(10);
        @include pc-fluid-size(font-size, 12);
      }
    }
  }

  &__btn {
    background: $c_ivory;
    border: none;
    cursor: pointer;
    width: get_vw(60);
    height: get_vw(60);
    padding: 0;
    @include center;
    z-index: 1100;
    position: absolute;
    top: 0;
    right: 0;

    @include after() {
      content: 'メニュー';
      font-size: get_vw(10);
      text-align: center;
      position: absolute;
      bottom: get_vw(10);
      transition: $transition;
    }

    &--line {
      width: get_vw(21);
      height: get_vw(16);
      margin: get_vw(-10) 0 0;
      position: relative;
    }

    span {
      border-radius: get_vw(2);
      background-color: $c_black;
      width: get_vw(21);
      height: get_vw(2);
      display: block;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      transition: $transition;

      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: get_vw(7);
      }
      &:nth-child(3) {
        top: get_vw(14);
      }

    }

    &.is-active {

      @include after() {
        content: '閉じる';
      }

      span {
        &:nth-child(1) {
          transform: translate(-50%, get_vw(7)) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translate(-50%, get_vw(-7)) rotate(-45deg);
        }
      }
    }

    @include min-screen(1101px) {
      display: none;
    }
  }

  &__nav {
    background: $c_ivory;
    width: 100%;
    height: 100%;
    padding: get_vw(60) get_vw(40) get_vw(80);
    position: fixed;
    top: 0;
    right: -100%;
    opacity: 0;
    transition: $transition;
    pointer-events: none;
    overflow-y: auto;

    &.is-open {
      pointer-events: auto;
      right: 0; 
      opacity: 1;
    }
  }

  &__menu {

    &--item {
      padding: get_vw(20) 0;
      position: relative;

      @include before() {
        background-size: contain;
        background-position: 0 center;
        background-repeat: no-repeat;
        width: get_vw(18);
        height: get_vw(18);
        position: absolute;
        top: get_vw(25);
      }

      a {
        font-size: get_vw(24);
        font-weight: $w_medium;
        margin-left: get_vw(26);
        display: inline-block;
      }

      &.menu-about {
        &:before {
          background-image: url('../data/webp/common/header/icon_about.webp');
        }
      }

      &.menu-area {
        &:before {
          background-image: url('../data/webp/common/header/icon_area.webp');
        }
      }

      &.menu-event {
        &:before {
          background-image: url('../data/webp/common/header/icon_event.webp');
        }
      }

      &.menu-sponsorship {
        &:before {
          background-image: url('../data/webp/common/header/icon_sponsorship.webp');
        }
      }

      &.menu-sponsorinfo {
        &:before {
          background-image: url('../data/webp/common/header/icon_sponsorinfo.webp');
        }
      }

      &.menu-access {
        &:before {
          background-image: url('../data/webp/common/header/icon_access.webp');
        }
      }

      &.menu-sub {
        &:before {
          background-image: url('../data/webp/common/header/icon_subnav.webp');
          width: get_vw(16);
          height: get_vw(16);
          position: absolute;
          top: get_vw(22);
        }
        a {
          font-size: get_vw(18);
        }
      }
    }

    @include min-screen(1101px) {
      display: flex;
      gap: get_vw(30, $vp_pc_min);

      li {
        font-size: get_vw(24);
        font-weight: $w_medium;
        margin-left: get_vw(26);
        display: inline-block;
      }
    }
  }

  &__submenu {
    &--item {
      margin: get_vw(5) 0 0;
      
      a {
        font-size: get_vw(14);
        display: inline-block;
      }
    }
  }

  &__utility {
    display: flex;
    flex-direction: column;
    gap: get_vw(20);
    margin-top: get_vw(20);

    @include min-screen(1101px) {
      flex-direction: row;
      align-items: center;
      margin-top: 0;
      gap: get_vw(20, $vp_pc_min);
    }
  }

  &__search {
    border-radius: get_vw(8);
    border: get_vw(3) solid $c_black;
    background-color: $c_white;
    width: get_vw(310);
    height: get_vw(50);

    &--form {
      width: 100%;
      height: 100%;
      padding: get_vw(5) get_vw(15);
      display: flex;
      align-items: center;
    }

    &--input {
      font-size: get_vw(18);
    }
  }

  &__contact {
    border-radius: get_vw(8);
    background-color: $c_orange;
    width: get_vw(310);
    height: get_vw(50);
    @include center;
    color: $c_white;
    font-size: get_vw(14);
  }

  &__sns {
    display: flex;
    align-items: center;
    margin: get_vw(20) 0 0;

    &--item {
      flex-basis: get_vw(42);
      margin-right: get_vw(40);
    }
  }
  
}

/* Google翻訳 ウィジェット */
#google_translate_element {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  .goog-te-gadget {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: get_vw(15) !important;
    color: $c_black !important;
    white-space: nowrap;
  }

  .goog-te-gadget-simple {
    background-color: #FFF;
    border-radius: get_vw(2);
    border: get_vw(2) solid $c_black;
    font-size: get_vw(15) !important;
    display: inline-block;
    padding: get_vw(3) get_vw(3) get_vw(5);
    cursor: pointer;
  }

  img {
    display: inline-block !important;
    vertical-align: middle !important;
    margin-right: 0 !important;
    height: get_vw(18) !important;
    width: auto !important;
    opacity: 1 !important;
  }

  .VIpgJd-ZVi9od-xl07Ob-lTBxed img {
    height: get_vw(5) !important;
  }

  span {
    vertical-align: middle !important;
    color: #000 !important;
  }

  select {
    font-size: 13px !important;
    line-height: 1.4 !important;
    padding: 2px 4px !important;
    border: none !important;
    background-color: transparent !important;
    color: #000 !important;
    outline: none !important;
    cursor: pointer;
  }
} 