@use '../setting/setting'as *;
@use '../setting/mixin'as *;



.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;

  &__inner {
    display: flex;
    align-items: center;
    height: get_vw(60);
    padding: 0 get_vw(20);
    @include pc-fluid-size(height, (168));
    @include pc-fluid-size(padding, (0 40));

    @include min-screen() {
      justify-content: space-between;
    }
  }

  &__main {
    display: flex;
    align-items: center;

    @include min-screen() {
      display: flex;
      align-items: center;
      flex-basis: 50%;
    }
  }

  &__logo {
    border-right: $c_ivory solid;
    border-right-width: get_vw(3);
    flex-basis: get_vw(103);
    padding-right: get_vw(12);
    display: block;
    @include hov-opacity;
    @include pc-fluid-size(border-right-width, (2));
    @include pc-fluid-size(flex-basis, (212));
    @include pc-fluid-size(padding-right, (20));
  }

  &__info {
    margin-left: get_vw(12);
    @include pc-fluid-size(flex-basis, (238));
    @include pc-fluid-size(margin-left, (20));
  }

  &__date {
    display: flex;
    align-items: center;

    &--year {
      font-size: get_vw(10);
      @include pc-fluid-size(font-size, (16));
    }

    &--period {
      display: flex;
      align-items: center;
      font-size: get_vw(14);
      margin-left: get_vw(10);
      @include pc-fluid-size(font-size, (24));
      @include pc-fluid-size(margin-left, (10));

      img {
        width: get_vw(7);
        margin: 0 get_vw(7);
        display: inline-block;
        @include pc-fluid-size(width, (10));
        @include pc-fluid-size(margin, (3 7 0 10));
      }
    }
  }

  &__countdown {
    font-size: get_vw(10);
    @include pc-fluid-size(font-size, 16);

    &--num {
      background-image: url('../data/webp/common/header/path.webp');
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: contain;
      color: #e64b2c;
      font-size: get_vw(20);
      font-weight: bold;
      padding-bottom: get_vw(2);
      margin-left: get_vw(10);
      @include pc-fluid-size(font-size, 32);
      @include pc-fluid-size(padding-bottom, 2);
      @include pc-fluid-size(margin-left, 8);


      small {   
        font-size: get_vw(10);
        @include pc-fluid-size(font-size, 24);
      }
    }
  }

  &__btn {
    background-color: $c_ivory;
    border: none;
    cursor: pointer;
    padding: 0;
    @include center;
    z-index: 1100;
    position: absolute;
    top: 0;
    right: 0;
    width: get_vw(60);
    height: get_vw(60);

    @media screen and (min-width: 768px) and (max-width: 1439px) {
      border-radius: 0 0 0 get_vw(20, $vp_pc);
      width: get_vw(60, $vp_pc);
      height: get_vw(60, $vp_pc);
    }

    @media screen and (min-width: 1440px) { 
      display: none;
      pointer-events: none;
    }

    @include after() {
      @include max-screen() {
        content: 'メニュー';
        font-size: get_vw(10);
        text-align: center;
        position: absolute;
        bottom: get_vw(10);
        transition: $transition;
      }
    }

    &--line {
      width: get_vw(21);
      height: get_vw(16);
      margin: get_vw(-10) 0 0;
      position: relative;

      @media screen and (min-width: 768px) and (max-width: 1439px) {
        width: get_vw(16, $vp_pc);
        height: get_vw(16, $vp_pc);
        margin: 0;
      }
    }

    span {
      background-color: $c_black;
      border-radius: get_vw(2);
      width: get_vw(21);
      height: get_vw(2);
      display: block;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      transition: $transition;

      @media screen and (min-width: 768px) and (max-width: 1439px) {
        border-radius: get_vw(2, $vp_pc);
        width: get_vw(16, $vp_pc);
        height: get_vw(2, $vp_pc);
      }

      &:nth-child(1) {
        @media screen and (max-width: 1439px) {
          top: 0;
        }
      }

      &:nth-child(2) {
        top: get_vw(7);
        @media screen and (min-width: 768px) and (max-width: 1439px) {
          top: get_vw(7, $vp_pc);
        }
      }

      &:nth-child(3) {
        top: get_vw(14);
        @media screen and (min-width: 768px) and (max-width: 1439px) {
          top: get_vw(14, $vp_pc);
        }
      }
    }

    &.is-active {

      &:after {
        @include max-screen() {
          content: '閉じる';
        }
      }

      span {
        &:nth-child(1) {
          transform: translate(-50%, get_vw(7)) rotate(45deg);
          @media screen and (min-width: 768px) and (max-width: 1439px) {
            transform: translate(-50%, get_vw(7, $vp_pc)) rotate(45deg);
          }
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translate(-50%, get_vw(-7)) rotate(-45deg);
          @media screen and (min-width: 768px) and (max-width: 1439px) {
            transform: translate(-50%, get_vw(-7, $vp_pc)) rotate(-45deg);
          }
        }
      }
    }
  }

  &__nav {
    @media screen and (max-width: 1439px) { 
      background: $c_ivory;
      width: 100%;
      padding: get_vw(60) get_vw(40) get_vw(80);
      right: -100%;
      height: 100%;
      position: fixed;
      top: 0;
      opacity: 0;
      transition: $transition;
      pointer-events: none;
      overflow-y: auto;

      &.is-open {
        pointer-events: auto;
        right: 0; 
        opacity: 1;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1439px) { 
      width: get_vw(280, $vp_pc);
      padding: get_vw(35, $vp_pc) get_vw(30, $vp_pc) get_vw(35, $vp_pc);
      right: get_vw(-280, $vp_pc);
    }

    @media screen and (min-width: 1440px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: end;
    }
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 1440px) {
      justify-content: end;

      &.-main {
        margin: 30px 0 0;
        order: 2;
      }
    }

    &--item {
      position: relative;

      @media screen and (max-width: 1439px) { 
        padding: get_vw(20) 0;
        flex-basis: 100%;
      }

      @media screen and (min-width: 768px) and (max-width: 1439px) { 
        padding: get_vw(10, $vp_pc) 0;
      }

      @media screen and (min-width: 1440px) {
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 0;
        margin-left: 30px;
      }

      @include before() {
        background-size: contain;
        background-position: 0 center;
        background-repeat: no-repeat;
        width: get_vw(18);
        height: get_vw(18);
        position: absolute;
        top: get_vw(25);
        left: 0;

        @media screen and (min-width: 768px) and (max-width: 1439px) { 
          width: get_vw(18, $vp_pc);
          height: get_vw(18, $vp_pc);
          top: get_vw(12, $vp_pc);
        }

        @media screen and (min-width: 1440px) {
          width: 18px;
          height: 18px;
          top: 0;
        } 
      }

      > a {
        font-size: get_vw(24);
        font-weight: $w_medium;
        margin-left: get_vw(26);
        display: inline-block;

        @media screen and (min-width: 768px) and (max-width: 1439px) {
          border-bottom: transparent solid get_vw(2, $vp_pc);
          font-size: get_vw(16, $vp_pc);
          padding: 0 0 get_vw(3, $vp_pc) get_vw(25, $vp_pc);
          margin-left: 0;
          transition: $transition;
        }

        @media screen and (min-width: 1440px) {
          border-bottom: transparent solid 2px;
          font-size: 16px;
          padding: 0 0 4px 25px;
          margin-left: 0;
        } 
      }

      &.menu-about {
        > a {
          &:hover {
            border-color: $c_red;
          }
        }
        &:before {
          background-image: url('../data/webp/common/header/icon_about.webp');
        }
      }

      &.menu-area {
        > a {
          &:hover {
            border-color: $c_pink;
          }
        }
        &:before {
          background-image: url('../data/webp/common/header/icon_area.webp');
        }
      }

      &.menu-event {
        > a {
          &:hover {
            border-color: $c_orange;
          }
        }
        &:before {
          background-image: url('../data/webp/common/header/icon_event.webp');
        }
      }

      &.menu-sponsorship {
        > a {
          &:hover {
            border-color: $c_purple; 
          }
        }
        &:before {
          background-image: url('../data/webp/common/header/icon_sponsorship.webp');
        }
      }

      &.menu-sponsorinfo {
        > a {
          &:hover {
            border-color: $c_blue;
          }
        }
        &:before {
          background-image: url('../data/webp/common/header/icon_sponsorinfo.webp');
        }
      }

      &.menu-access {
        > a {
          &:hover {
            border-color: $c_green;
          }
        }
        &:before {
          background-image: url('../data/webp/common/header/icon_access.webp');
        }
      }

      &.menu-sub {
        @media screen and (min-width: 768px) and (max-width: 1439px) {  
          flex-basis: 50%;
          padding: get_vw(8, $vp_pc) 0 get_vw(12, $vp_pc);
        }

        @media screen and (min-width: 1440px) {
          padding: 0;
          margin: 0 20px;
        }
      
        &:before {
          @media screen and (max-width: 1439px) { 
            background-image: url('../data/webp/common/header/icon_subnav.webp');
            width: get_vw(16);
            height: get_vw(16);
            position: absolute;
            top: get_vw(22);
          }

          @media screen and (min-width: 768px) and (max-width: 1439px) { 
            width: get_vw(17, $vp_pc);
            height: get_vw(17, $vp_pc);
            top: get_vw(9, $vp_pc);
          }

          @media screen and (min-width: 1440px) {
            content: none;
          } 
        }
        a {
          font-size: get_vw(18);

          @media screen and (min-width: 768px) and (max-width: 1439px) { 
            font-size: get_vw(14, $vp_pc);
            @include hov-opacity;
          }

          @media screen and (min-width: 1440px) {
            font-size: 14px;
            padding-left: 0;
            margin-left: 0;
          }
        }
      }
    }
  }

  &__submenu {

    @media screen and (min-width: 1440px) {
      border-radius: 10px;
      background-color: $c_white;
      padding: 15px;
      opacity: 0;
      pointer-events: none;
      transition: $transition;
      position: absolute;
      top: 30px;
      left: 15px;
    } 

    &--item {
      margin: get_vw(5) 0 0;

      @media screen and (min-width: 768px) and (max-width: 1439px) { 
        margin: get_vw(7, $vp_pc) 0 0 get_vw(25, $vp_pc);
      }

      @media screen and (min-width: 1440px) {
        margin: 0;
      } 
      
      a {
        font-size: get_vw(14);
        display: inline-block;

        @media screen and (min-width: 768px) and (max-width: 1439px) { 
          font-size: get_vw(14, $vp_pc);
          @include hov-opacity;
        }
        @media screen and (min-width: 1440px) {
          font-size: 14px;
          padding-left: 0;
          white-space: nowrap;
          display: inline-block;
        }
      }
    }
  }

  .header__menu--item a:hover + .header__submenu {
    @media screen and (min-width: 1440px) {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__utility {
    display: flex;

    @media screen and (max-width: 1439px) { 
      flex-direction: column;
      gap: get_vw(20);
      margin: 0;
    }

    @media screen and (min-width: 768px) and (max-width: 1439px) { 
      gap: get_vw(20, $vp_pc);
      margin: get_vw(10, $vp_pc) 0 0;
    }

    @media screen and (min-width: 1440px) {
      justify-content: end;
      order: 1;
    }
  }

  &__search {

    @media screen and (min-width: 1440px) {
      margin: 0 0 0 17px;
    }

    &--form {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--input {
      border-radius: get_vw(8);
      border: get_vw(3) solid $c_black;
      background-color: $c_white;
      width: get_vw(250);
      flex-basis: get_vw(250);
      height: get_vw(50);
      font-size: get_vw(16);
      padding: get_vw(5) get_vw(15);

      @media screen and (min-width: 768px) and (max-width: 1439px) { 
        border-radius: get_vw(8, $vp_pc);
        border: get_vw(2, $vp_pc) solid $c_black;
        width: get_vw(180, $vp_pc);
        flex-basis: get_vw(180, $vp_pc);
        height: get_vw(30, $vp_pc);
        font-size: get_vw(16, $vp_pc);
        padding: get_vw(5, $vp_pc) get_vw(8, $vp_pc);
      }

      @media screen and (min-width: 1440px) {
        border-radius: 8px;
        border: 2px solid $c_black;
        width: 140px;
        flex-basis: 140px;
        height: 30px;
        font-size: 14px;
        padding: 5px 15px;
      }
    }

    &--button {
      background-color: $c_orange;
      border-radius: get_vw(8);
      width: get_vw(50);
      flex-basis: get_vw(50);
      height: get_vw(50);
      @include center;
      cursor: pointer;
      @include hov-opacity;

      @media screen and (min-width: 768px) and (max-width: 1439px) { 
        border-radius: get_vw(8, $vp_pc);
        width: get_vw(30, $vp_pc);
        flex-basis: get_vw(30, $vp_pc);
        height: get_vw(30, $vp_pc);
      }

      @media screen and (min-width: 1440px) {
        border-radius: 8px;
        width: 30px;
        flex-basis: 30px;
        height: 30px;
        margin: 0 0 0 10px;
      }

      img {
        width: get_vw(23);

        @media screen and (min-width: 768px) and (max-width: 1439px) { 
          width: get_vw(12, $vp_pc);
        }
        @media screen and (min-width: 1440px) {
          width: 12px;
        }
      }
    }
  }

  &__contact {
    border-radius: get_vw(8);
    background-color: $c_orange;
    width: get_vw(310);
    height: get_vw(50);
    @include center;
    color: $c_white;
    font-size: get_vw(14);

    @media screen and (min-width: 768px) and (max-width: 1439px) { 
      border-radius: get_vw(10, $vp_pc);
      width: get_vw(220, $vp_pc);
      height: get_vw(40, $vp_pc);
      font-size: get_vw(17, $vp_pc);
    }

    @media screen and (min-width: 1440px) {
      border-radius: 8px;
      width: 140px;
      height: 30px;
      font-size: 14px;
      margin: 0 0 0 17px;
    }
  }

  &__sns {
    display: flex;
    align-items: center;
    margin: get_vw(20) 0 0;

    @media screen and (min-width: 768px) and (max-width: 1439px) { 
      justify-content: center;
      margin: get_vw(20, $vp_pc) 0 0;
    }

    @media screen and (min-width: 1440px) {
      justify-content: end;
      margin: 0;
    }

    &--item {
      flex-basis: get_vw(42);
      margin-right: get_vw(40);

      @media screen and (min-width: 768px) and (max-width: 1439px) { 
        flex-basis: get_vw(28, $vp_pc);
        margin: 0 get_vw(12, $vp_pc);
        @include hov-opacity;
      }

      @media screen and (min-width: 1440px) {
        flex-basis: 25px;
        margin: 0 0 0 20px;
      }
    }
  }
}

/* Google翻訳 ウィジェット */
#google_translate_element {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;

  .goog-te-gadget {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: get_vw(15) !important;
    color: $c_black !important;
    white-space: nowrap;

    @media screen and (min-width: 768px) and (max-width: 1439px) {
      font-size: get_vw(14, $vp_pc) !important;
    }

    @media screen and (min-width: 1440px) {
      font-size: 14px !important;
    }
  }

  .goog-te-gadget-simple {
    background-color: #FFF;
    border-radius: get_vw(2);
    border: get_vw(2) solid $c_black;
    font-size: get_vw(15) !important;
    display: inline-block;
    padding: get_vw(3) get_vw(3) get_vw(5);
    cursor: pointer;

    @media screen and (min-width: 768px) and (max-width: 1439px) {
      border-radius: get_vw(2, $vp_pc);
      border: get_vw(2, $vp_pc) solid $c_black;
      font-size: get_vw(12, $vp_pc) !important;
      padding: get_vw(3, $vp_pc) get_vw(3, $vp_pc) get_vw(5, $vp_pc);
    }

    @media screen and (min-width: 1440px) {
      border-radius: 2px;
      border: 2px solid $c_black;
      font-size: 12px !important;
      padding: 3px 3px 5px;
    }
  }

  img {
    display: inline-block !important;
    vertical-align: middle !important;
    margin-right: 0 !important;
    height: get_vw(18) !important;
    width: auto !important;
    opacity: 1 !important;

    @media screen and (min-width: 768px) and (max-width: 1439px) {
      height: get_vw(18, $vp_pc) !important;
    }

    @media screen and (min-width: 1440px) {
      height: 18px !important;
    }
  }

  .VIpgJd-ZVi9od-xl07Ob-lTBxed img {
    height: get_vw(5) !important;

    @media screen and (min-width: 768px) and (max-width: 1439px) {
      height: get_vw(4, $vp_pc) !important;
    }

    @media screen and (min-width: 1440px) {
      height: 6px !important;
    }
  }

  span {
    vertical-align: middle !important;
    color: #000 !important;
  }

  select {
    font-size: 13px !important;
    line-height: 1.4 !important;
    padding: 2px 4px !important;
    border: none !important;
    background-color: transparent !important;
    color: #000 !important;
    outline: none !important;
    cursor: pointer;
  }
} 