@use '../setting/setting' as *;
@use '../setting/mixin' as *;

.top-gallery{
  width: get_vw(370);
  margin-inline: auto;
  background-color: $c_white;
  border-radius: get_vw(20);
  padding: get_vw(76) get_vw(30);
  overflow: hidden;
  &__ttl{
    font-size: get_vw(20);
    color: $common_h2;
    text-align: center;
    position: relative;
    @include after{
      background-color: $common_h2;
      width: get_vw(25);
      height: get_vw(2);
      border-radius: get_vw(20);
      position: absolute;
      bottom: get_vw(-20);
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__container{
    margin-top: get_vw(80);
  }
  &__box{
    padding: get_vw(36) get_vw(20);
    background-color: $c_ivory;
    border-radius: get_vw(20);
    &:not(:first-child){
      margin-top: get_vw(40);
    }
  }
  &__box-ttl{
    font-size: get_vw(18);
    text-align: center;
  }

  &__resident-thumb{
    margin-top: get_vw(37);
  }

  &__resident-thumb-slide{
    border-radius: get_vw(20);
    overflow: hidden;
  }

  &__resident{
    margin-top: get_vw(5);
  }

  &__resident-slide{
    border-radius: get_vw(10);
    overflow: hidden;
  }

  &__btn{
    display: block;
    margin-top: get_vw(38);
    margin-inline: auto;
    padding: get_vw(14);
    width: get_vw(260);
    height: get_vw(50);
    background-color: $c_white;
    border-radius: get_vw(60);
    @include center;
  }
}