@use '../setting/setting' as *;
@use '../setting/mixin' as *;

.top-event{
  width: get_vw(370);
  margin-top: get_vw(18);
  margin-inline: auto;
  background-color: $c_white;
  border-radius: get_vw(20);
  padding: get_vw(76) get_vw(30);
  @include pc-fluid-size(margin-top, (40));
  @include pc-fluid-size(width, (1280));
  @include pc-fluid-size(border-radius, (40));
  @include pc-fluid-size(padding, (100 80));
  &__ttl{
    font-size: get_vw(20);
    color: $common_h2;
    text-align: center;
    position: relative;
    font-weight: 400;
    @include pc-fluid-size(font-size, (40));
    @include after{
      background-color: $common_h2;
      width: get_vw(25);
      height: get_vw(2);
      border-radius: get_vw(20);
      position: absolute;
      bottom: get_vw(-20);
      left: 50%;
      transform: translateX(-50%);
      @include pc-fluid-size(width, (25));
      @include pc-fluid-size(height, (2));
      @include pc-fluid-size(bottom, (-16));
    }
  }
  &__wrapper{
    margin-top: get_vw(65);
    @include pc-fluid-size(margin-top, (95));
    @include min-screen{
      display: flex;
    }

    &>*:only-child{
      width: get_vw(310);
      margin-inline: auto;
      padding-bottom: get_vw(39);
      background-color: $c_ivory;
      border-radius: get_vw(155) get_vw(155) get_vw(20) get_vw(20);
      @include pc-fluid-size(width, (1120));
      @include pc-fluid-size(height, (385));
      @include pc-fluid-size(padding-bottom, (0));
      @include pc-fluid-size(border-radius, (20));
      @include min-screen{
        display: flex;
      }
      .top-event{
        &__img{
          @include pc-fluid-size(width, (392));
          @include pc-fluid-size(border-radius, (0));
          @include min-screen{
            height: 100%;
            border: none;
          }
        }
        &__content{
          @include pc-fluid-size(padding, (40 40 0 30));
          &> h3{
            @include pc-fluid-size(width, (660));
            @include pc-fluid-size(margin-top, (0));
            @include pc-fluid-size(font-size, (24));
          }
          &> p{
            @include pc-fluid-size(width, (660));
          }
          &> a{
            @include pc-fluid-size(margin-top, (40));
            @include min-screen{
              margin-left: auto;
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  &__box{
    width: get_vw(310);
    margin-inline: auto;
    padding-bottom: get_vw(39);
    background-color: $c_ivory;
    border: solid transparent get_vw(2);
    border-radius: get_vw(155) get_vw(155) get_vw(20) get_vw(20);
    transition: border-color 0.4s ease;
    @include pc-fluid-size(width, (360));
    @include pc-fluid-size(padding-bottom, (40));
    @include pc-fluid-size(border-radius, (180 180 40 40));
    @include pc-fluid-size(border-width, (2));
    @include min-screen{
      cursor: pointer;
      overflow: hidden;
      &:hover{
        border-color: $c_pink;
      }
    }
    &:not(:first-child){
      margin-top: get_vw(20);
      @include min-screen{
        margin-top: 0;
      }
    }
  }
  &__img{
    width: get_vw(310);
    height: get_vw(310);
    border: solid $c_ivory get_vw(10);
    border-radius: 50%;
    overflow: hidden;
    @include pc-fluid-size(width, (360));
    @include pc-fluid-size(height, (360));
    @include pc-fluid-size(border-width, (10));
    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content{
    padding: get_vw(0) get_vw(24);
    @include pc-fluid-size(padding, (0 18));
    &> h3{
      position: relative;
      width: get_vw(260);
      height: get_vw(100);
      margin-top: get_vw(-50);
      margin-inline: auto;
      padding: get_vw(0) get_vw(12);
      background-color: $c_pink;
      font-size: get_vw(24);
      color: #fff;
      line-height: calc(36/24);
      text-align: center;
      font-weight: 500;
      border: solid get_vw(2) $c_ivory;
      border-radius: get_vw(20);
      @include center;
      @include pc-fluid-size(width, (320));
      @include pc-fluid-size(height, (100));
      @include pc-fluid-size(margin-top, (-50));
      @include pc-fluid-size(padding, (0 18));
      @include pc-fluid-size(font-size, (24));
      @include pc-fluid-size(line-height, (36));
      @include pc-fluid-size(border-width, (2));
      @include pc-fluid-size(border-radius, (20));
      &>span{
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2; 
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    &> p{
      width: get_vw(260);
      margin-top: get_vw(20);
      margin-inline: auto;
      font-size: get_vw(14);
      line-height: calc(24/14);
      color: #343434;
      font-weight: 500;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
      line-clamp: 3; 
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      @include pc-fluid-size(width, (320));
      @include pc-fluid-size(margin-top, (20));
      @include pc-fluid-size(padding-inline, (10));
      @include pc-fluid-size(font-size, (18));
      @include pc-fluid-size(line-height, (28));
    }
    &> span{
      display: block;
      margin-top: get_vw(22);
      padding-left: get_vw(28);
      font-size: get_vw(18);
      position: relative;
      font-weight: 500;
      @include pc-fluid-size(margin-top, (20));
      @include pc-fluid-size(padding-left, (38));
      @include pc-fluid-size(font-size, (18));
        @include before{
          background-image: url('../img/common/event_green.png');
          background-size: 100% 100%;
          width: get_vw(18);
          height: get_vw(27);
          position: absolute;
          top: 50%;
          left: get_vw(0);
          transform: translateY(-50%);
          @include pc-fluid-size(width, (18));
          @include pc-fluid-size(height, (27));
          @include pc-fluid-size(left, (10));
        }
      &.main{
        color: $c_green;
        @include before{
          background-image: url('../img/common/event_green.png');
        }
      }
      &.monchi{
        color: $c_pink;
        @include before{
          background-image: url('../img/common/event_pink.png');
        }
      }
      &.kochi{
        color: $c_blue;
        @include before{
          background-image: url('../img/common/event_blue.png');
        }
      }
      &.tora{
        color: $c_red;
      }
      &.wing{
        color: $c_orange;
        @include before{
          background-image: url("../img/common/event_orange.png");
        }
      }
      &.iris{
        color: $c_purple;
        @include before{
          background-image: url("../img/common/event_purple.png");
        }
      }
    }
    &> a{
      display: block;
      @include btn-w;
      margin-top: get_vw(38);
      margin-inline: auto;
      width: get_vw(260);
      @include center;
      @include pc-fluid-size(margin-top, (38));
      @include pc-fluid-size(width, (260));
      @include min-screen{
        border-color: $c_white;
      }
    }
  }
}