@use '../setting/setting' as *;
@use '../setting/mixin' as *;

.top-insta{
  margin-top: get_vw(20);
  width: get_vw(370);
  margin-inline: auto;
  background-color: $c_white;
  border-radius: get_vw(20);
  padding: get_vw(76) get_vw(30);
  overflow: hidden;
  &__ttl{
    font-size: get_vw(20);
    color: $common_h2;
    text-align: center;
    position: relative;
    @include after{
      background-color: $common_h2;
      width: get_vw(25);
      height: get_vw(2);
      border-radius: get_vw(20);
      position: absolute;
      bottom: get_vw(-20);
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__gallery{
    margin-top: get_vw(65);
  }
  &__swipersp{
    &:not(:first-child){
      margin-top: get_vw(22);
    }
  }
  &__swiper-wrapper{

  }
  &__swipersp-slide{
    width: get_vw(118);
    margin: 0 calc(get_vw(20)/2) 0;
  }

  &__catch{
    margin-top: get_vw(40);
    font-size: get_vw(20);
    color: #8FC31F;
    text-align: center;
    position: relative;
    @include before{
      background-color: #8FC31F;
      width: get_vw(32);
      height: get_vw(2);
      position: absolute;
      top: 50%;
      left: get_vw(-15);
      transform: translateY(-50%) rotate(70deg);
      border-radius: get_vw(20);
    }
    @include after{
      background-color: #8FC31F;
      width: get_vw(32);
      height: get_vw(2);
      position: absolute;
      top: 50%;
      right: get_vw(-11);
      transform: translateY(-50%) rotate(-70deg);
      border-radius: get_vw(20);
    }
  }
  &__hash{
    margin-top: get_vw(20);
    padding: get_vw(50) get_vw(10) get_vw(16);
    background-color: rgba(143, 195, 31, 0.2);
    border-radius: get_vw(8);
    font-size: get_vw(18);
    font-weight: medium;
    line-height: calc(28/18);
    text-align: center;
    position: relative;
    @include before{
      background-image: url(../img/top/insta_icon.png);
      background-size: 100% 100%;
      width: get_vw(24);
      height: get_vw(24);
      position: absolute;
      top: get_vw(20);
      left: 50%;
      transform: translateX(-50%);
    }
  }
}