@use '../setting/setting' as *;
@use '../setting/mixin' as *;

.top-gallery{
  width: get_vw(370);
  margin-top: get_vw(38);
  margin-inline: auto;
  background-color: $c_white;
  border-radius: get_vw(20);
  padding: get_vw(76) get_vw(30);
  overflow: hidden;
  @include pc-fluid-size(width, (1280));
  @include pc-fluid-size(margin-top, (38));
  @include pc-fluid-size(border-radius, (40));
  @include pc-fluid-size(padding, (100 80));
  &__ttl{
    font-size: get_vw(20);
    color: $common_h2;
    text-align: center;
    position: relative;
    font-weight: 400;
    @include pc-fluid-size(font-size, (40));
    @include after{
      background-color: $common_h2;
      width: get_vw(25);
      height: get_vw(2);
      border-radius: get_vw(20);
      position: absolute;
      bottom: get_vw(-20);
      left: 50%;
      transform: translateX(-50%);
      @include pc-fluid-size(width, (25));
      @include pc-fluid-size(height, (2));
      @include pc-fluid-size(bottom, (-16));
    }
  }

  &__container{
    margin-top: get_vw(80);
      @include pc-fluid-size(margin-top, (95));
      @include pc-fluid-size(column-gap, (20));
      @include min-screen{
        display: flex;
        flex-direction: row;
      }
  }
  &__box{
    padding: get_vw(36) get_vw(20) get_vw(40);
    background-color: $c_ivory;
    border-radius: get_vw(20);
    @include pc-fluid-size(width, (547));
    @include pc-fluid-size(padding, (40));
    @include pc-fluid-size(border-radius, (40));
    &:not(:first-child){
      margin-top: get_vw(40);
      @include pc-fluid-size(margin-top, (0));
    }
  }
  &__box-ttl{
    font-size: get_vw(18);
    text-align: center;
    font-weight: 500;
    @include pc-fluid-size(font-size, (24));
  }

  &__resident,&__famous{
    margin-top: get_vw(37);
    @include pc-fluid-size(margin-top, (40));
  }

  &__resident-slide,&__famous-slide{
    border-radius: get_vw(10);
    overflow: hidden;
    border: solid transparent get_vw(2);
    filter: brightness(0.5);
    @include pc-fluid-size(border-width, (2));
    @include pc-fluid-size(border-radius, (10));
    transition: all 0.4s ease;
    @include min-screen{
      cursor: pointer;
    }
    &.swiper-slide-thumb-active{
      border-color: $c_blue;
      filter: brightness(1);
    }
    &:hover{
      border-color: $c_blue;
    }
  }

  &__resident-thumb,&__famous-thumb{
    margin-top: get_vw(5);
    @include pc-fluid-size(margin-top, (10));
  }

  &__resident-thumb-slide,&__famous-thumb-slide{
    border-radius: get_vw(20);
    overflow: hidden;
    @include pc-fluid-size(border-radius, (20));
    @include min-screen{
      cursor: pointer;
    }
  }

  &__btn{
    display: block;
    margin-top: get_vw(38);
    margin-inline: auto;
    padding: get_vw(14);
    width: get_vw(260);
    height: get_vw(50);
    background-color: $c_white;
    font-size: get_vw(14);
    border-radius: get_vw(60);
    @include center;
    @include pc-fluid-size(margin-top, (38));
    @include pc-fluid-size(padding, (14));
    @include pc-fluid-size(width, (260));
    @include pc-fluid-size(height, (50));
    @include pc-fluid-size(font-size, (14));
    @include pc-fluid-size(border-radius, (60));
  }
}