@use '../setting/setting' as *;
@use '../setting/mixin' as *;

.top-about{
  width: get_vw(370);
  margin-inline: auto;
  background-color: $c_white;
  border-radius: get_vw(20);
  padding: get_vw(80) get_vw(20) get_vw(210);
  overflow: hidden;
  &__ttl{
    width: get_vw(250);
    margin-inline: auto;
  }
  &__txt{
    font-size: get_vw(18);
    font-weight: lighter;
    line-height: calc(38/18);
    text-align: center;
    &.orange{
      color: $c_orange;
      font-weight: 500;
    }
    &:not(:first-child){
      margin-top: get_vw(20);
    }
    & .bl{
      margin-left: get_vw(-8);
    }
    & .br{
      margin-right: get_vw(-8);
    }
  }
}