@use '../setting/setting' as *;
@use '../setting/mixin' as *;


.top-banner{
  margin-inline: auto;
  position: relative;
  @include pc-fluid-size(width, (1280));
  @include min-screen{
  }
  &__swiper{
    @include pc-fluid-size(width, (1280));
    @include pc-fluid-size(border-radius, (40));
  }

  &__swiper-wrapper{
  }
  
  &__swiper-slide{
    position: relative;
    width: get_vw(370);
    margin: 0 get_vw(10);
    border-radius: get_vw(0) get_vw(0) get_vw(20) get_vw(20);
    z-index: 0;
    @include pc-fluid-size(width, (1280));
    @include pc-fluid-size(margin, (0 41));
    @include pc-fluid-size(border-radius, (40));
    overflow: hidden;
    @include after{
      width: get_vw(381);
      height: get_vw(243);
      background: linear-gradient(to top, rgba(1, 16, 0, 1) 0%, rgba(8, 151, 0, 0) 100%);
      position: absolute;
      bottom: get_vw(0);
      left: 0;
      opacity: 0.6;
      border-radius: 0 0 get_vw(20) get_vw(20);
      z-index: 1;
      @include min-screen{
        display: none;
      }
    }
    &>a{
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
    }
    & .top-banner__progress:after{
      animation-play-state: paused;
    }
    &.swiper-slide-active{
      & .top-banner__progress:after{
        animation-play-state: running;
      }
    }
    &.only-child{
      @include min-screen{
        margin-inline: 0;
      }
    }
  }
  
  &__atten{
    width: get_vw(169);
    height: get_vw(58);
    padding: get_vw(9) get_vw(10);
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 0 0 get_vw(20) 0;
    @include center;
    flex-direction: column;
    @include pc-fluid-size(width, (372));
    @include pc-fluid-size(height, (150));
    @include pc-fluid-size(padding, (45 52));
    @include pc-fluid-size(border-radius, (0 0 40 0));
    @include pc-fluid-size(left, (0));
  }

  &__atten-ttl{
    font-size: get_vw(12);
    text-align: center;
    position: relative;
    @include pc-fluid-size(font-size, (18));
    @include before{
      width: get_vw(50);
      height: get_vw(1);
      background-color: $common_font;
      position: absolute;
      top: 50%;
      left: get_vw(32);
    @include pc-fluid-size(width, (99));
    @include pc-fluid-size(height, (1));
    @include pc-fluid-size(left, (48));
    }
    @include after{
      width: get_vw(50);
      height: get_vw(1);
      background-color: $common_font;
      position: absolute;
      top: 50%;
      right: get_vw(32);
    @include pc-fluid-size(width, (99));
    @include pc-fluid-size(height, (1));
    @include pc-fluid-size(right, (48));
    }
  }

  &__atten-txt{
    margin-top: get_vw(8);
    font-size: get_vw(10);
      @include pc-fluid-size(margin-top, (18));
      @include pc-fluid-size(font-size, (20));
    & span{
      font-size: get_vw(8);
      @include pc-fluid-size(font-size, (10));
    }
  }

  &__swiper-pagination{

  }

  &__swiper-btn{
    &--next{
      display: none;
      @include min-screen{
        display: block;
        @include after{
          background-image: url('../img/top/banner_arrow_right.png');
          background-size: 100% 100%;
          border-radius: 50%;
          @include pc-fluid-size(width, (40));
          @include pc-fluid-size(height, (40));
          position: absolute;
          @include pc-fluid-size(right, (-30));
        }

      }
    }
    &--prev{
      display: none;
      @include min-screen{
        display: block;
        @include after{
          background-image: url('../img/top/banner_arrow_right.png');
          background-size: 100% 100%;
          border-radius: 50%;
          transform: scaleX(-1);
          @include pc-fluid-size(width, (40));
          @include pc-fluid-size(height, (40));
          position: absolute;
          @include pc-fluid-size(left, (-30));
        }
      }
    }
  }

  &__swiper-pagination.swiper-pagination{
    position: absolute;
    bottom: get_vw(-28);
    @include pc-fluid-size(bottom, (-30));
    @include pc-fluid-size(left, (10));
    @include min-screen{
      width: auto;
    }

    & .swiper-pagination-bullet{
      background: rgba(255,255,255,0.5);
      opacity: 1;
    @include pc-fluid-size(margin, (0 5));
    }
    & .swiper-pagination-bullet-active{
      background: rgba(255,255,255,1);
    }
  }

  &__text{
    width: get_vw(340);
    color: $c_white;
    position: absolute;
    bottom: get_vw(36);
    left: get_vw(20);
    z-index: 3;
    @include pc-fluid-size(width, (500));
    @include pc-fluid-size(bottom, (50));
    @include pc-fluid-size(left, (40));

    & >h5{
      font-size: get_vw(24);
      font-weight: 400;
      line-height: calc(34/24);
      @include pc-fluid-size(font-size, (32));
      @include pc-fluid-size(line-height, (40));
    }
    & >p{
      margin-top: get_vw(10);
      font-size: get_vw(14);
      font-weight: 300;
      line-height: calc(24/14);
      @include pc-fluid-size(margin-top, (10));
      @include pc-fluid-size(font-size, (18));
      @include pc-fluid-size(line-height, (26));
    }
  }

  &__progress{
    width: 100%;
    height: get_vw(14);
    position: absolute;
    bottom: get_vw(-2);
    left: 0;
    background-color: rgba(255,255,255,0.6);
    @include pc-fluid-size(height, (12));
    @include pc-fluid-size(bottom, (-2));
    @include after{
      content: '';
      display: block;
      width: 0;
      height: 100%;
      background-color: $c_white;
      animation: progressBar 5s linear forwards;
    }
  }
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}