@use '../setting/setting' as *;
@use '../setting/mixin' as *;

.top{
    &__bg{
      &.green{
        padding-top: get_vw(126);
        padding-bottom: get_vw(62);
        background-image: url('../img/top/bg_green.png');
        background-size: 100% 100%;
        background-position: center get_vw(205);
        background-repeat: no-repeat;
        @include pc-fluid-bg-size(1440, auto);
        @include pc-fluid-size(padding-top, (169));
        @include pc-fluid-size(padding-bottom, (263));
        @include min-screen{
          background-image: url('../img/top/bg_green_pc.png');
          background-size: 2802px auto;
          background-position: calc(50% + 350px) 280px;
        }
      }
      &.pink{
        margin-top: get_vw(-95);
        padding-top: get_vw(96);
        padding-bottom: get_vw(93);
        background-image: url('../img/top/bg_pink.png');
        background-size: 100% 100%;
        background-position: center top;
        background-repeat: no-repeat;
        @include pc-fluid-bg-size(1440, auto);
        @include pc-fluid-size(margin-top, (-320));
        @include pc-fluid-size(padding-top, (169));
        @include pc-fluid-size(padding-bottom, (1463));
        @include min-screen{
          background-image: url('../img/top/bg_pink_pc.png');
          background-size: 3838px auto;
          background-position: calc(50% + 350px) 0px;
        }
      }
      &.orange{
        margin-top: get_vw(-136);
        padding-top: get_vw(134);
        background-image: url('../img/top/bg_orange.png');
        background-size: 100% auto;
        background-position: center top;
        background-repeat: no-repeat;
        @include pc-fluid-bg-size(1440, auto);
        @include pc-fluid-size(margin-top, (-1545));
        @include pc-fluid-size(padding-top, (220));
        @include pc-fluid-size(padding-bottom, (1000));
        @include min-screen{
          background-image: url('../img/top/bg_orange_pc.png');
          background-size: 3229px auto;
          background-position: calc(50% + -130px) 0px;
        }
      }
      &.blue{
        margin-top: get_vw(-136);
        padding-top: get_vw(134);
        padding-bottom: get_vw(80);
        background-image: url('../img/top/bg_blue.png');
        background-size: 100% auto;
        background-position: center top;
        background-repeat: no-repeat;
        @include pc-fluid-bg-size(1440, auto);
        @include pc-fluid-size(margin-top, (-1430));
        @include pc-fluid-size(padding-top, (180));
        @include pc-fluid-size(padding-bottom, (163));
        @include min-screen{
          background-image: url('../img/top/bg_blue_pc.png');
          background-size: 4388px auto;
          background-position: calc(50% + -50px) 0px;
        }
      }
    }
}