@use '../setting/setting' as *;
@use '../setting/mixin' as *;

.sitemap{
  &__wrapper{
    position: relative;
    margin-top: get_vw(-46);
    padding-top: get_vw(126);
    padding-bottom: get_vw(100);
    @include pc-fluid-size(margin-top, (-0));
    @include pc-fluid-size(padding-top, (190));
    @include pc-fluid-size(padding-bottom, (100));

  }
  &__bg{
    background-image: url('../img/common/beige_bg.png');
    background-size: 100% 100%;
    width: 100%;
    height: get_vw(232);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    pointer-events: none;
    @include pc-fluid-size(height, (378));
    @include min-screen{
      background-image: url('../img/common/beige_bg_pc.png');
    }
  }
  &__bread{
    width: 100%;
    position: relative;
    margin-inline: auto;
    font-size: get_vw(14);
    color: $c_black;
    padding-left: get_vw(20);
    @include pc-fluid-size(width, (1440));
    @include pc-fluid-size(font-size, (14));
    @include pc-fluid-size(padding-left, (80));
    & span{
      &::after{
        content: '>';
        margin: 0 get_vw(8);
        @include pc-fluid-size(margin, (0 8));
      }
      &:last-of-type::after{
        content: '';
        margin: 0;
      }
    }
  }
  &__h1{
    margin-top: get_vw(32);
    position: relative;
    font-size: get_vw(24);
    color: $c_black;
    text-align: center;
    @include pc-fluid-size(margin-top, (40));
    @include pc-fluid-size(font-size, (56));
  }
  &__section{
    position: relative;
    margin-top: get_vw(104);
    margin-inline: get_vw(20);
    @include pc-fluid-size(height, (984));
    @include pc-fluid-size(margin-top, (185));
    @include pc-fluid-size(margin-inline, (220));
    @include min-screen{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    @include before{
      width: get_vw(2);
      height: 100%;
      background-color: $c_ivory;
      position: absolute;
      top: 50%;
      left: get_vw(-10);
      transform: translateY(-50%);
      @include pc-fluid-size(width, (2));
      @include pc-fluid-size(left, (-10));
      @include min-screen{
        display: none;
      }
    }
  }
  &__box{
    &:not(:first-child){
      margin-top: get_vw(40);
      @include pc-fluid-size(margin-top, (80));
    }
    & a{
      display: block;
      margin-top: get_vw(30);
      font-size: get_vw(16);
      font-weight: 300;
      text-indent: -1em;
      padding-left: 1em;
      text-decoration: underline;
      text-underline-offset: get_vw(5);
      @include pc-fluid-size(width, (540));
      @include pc-fluid-size(margin-top, (40));
      @include pc-fluid-size(font-size, (18));
      @include pc-fluid-size(text-underline-offset, (8));
      &.no-indent{
        text-indent: 0;
        padding-left: 0;
      }
      &.medium{
        font-weight: 500;
      }
      &.main{
        margin-top: get_vw(40);
        font-size: get_vw(24);
        font-weight: 500;
        @include pc-fluid-size(font-size, (24));
        @include pc-fluid-size(margin-top, (80));
        &:first-child{
          margin-top: 0;
        }
      }
    }
    &.sitemap__column{
      @include pc-fluid-size(margin-top, (0));
    }
  }
  &__column{
    position: relative;
    @include pc-fluid-size(margin-top, (0));
    @include before{
      display: none;
      height: 100%;
      background-color: $c_ivory;
      position: absolute;
      top: 50%;
      left: get_vw(-10);
      transform: translateY(-50%);
      @include pc-fluid-size(width, (2));
      @include pc-fluid-size(left, (-20));
      @include min-screen{
        display: block;
      }
    }
  }
}