@use '../setting/setting' as *;
@use '../setting/mixin' as *;

.access{
  &__wrapper{
    position: relative;
    margin-top: get_vw(-46);
    padding-top: get_vw(126);
    padding-bottom: get_vw(100);
    @include pc-fluid-size(margin-top, (-0));
    @include pc-fluid-size(padding-top, (190));
    @include pc-fluid-size(padding-bottom, (100));

  }
  &__bg{
    background-image: url('../img/common/green_bg.png');
    background-size: 100% 100%;
    width: 100%;
    height: get_vw(232);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    pointer-events: none;
    @include pc-fluid-size(height, (378));
    @include min-screen{
      background-image: url('../img/common/green_bg_pc.png');
    }
  }
  &__bread{
    width: 100%;
    position: relative;
    margin-inline: auto;
    font-size: get_vw(14);
    color: $c_white;
    padding-left: get_vw(20);
    @include pc-fluid-size(width, (1440));
    @include pc-fluid-size(font-size, (14));
    @include pc-fluid-size(padding-left, (80));
    & span{
      &::after{
        content: '>';
        margin: 0 get_vw(8);
        @include pc-fluid-size(margin, (0 8));
      }
      &:last-of-type::after{
        content: '';
        margin: 0;
      }
    }
  }
  &__h1{
    margin-top: get_vw(32);
    position: relative;
    font-size: get_vw(24);
    color: $c_white;
    text-align: center;
    @include pc-fluid-size(margin-top, (40));
    @include pc-fluid-size(font-size, (56));
  }
  &__nav{
    display: block;
    & ul{
      width: 100%;
      height: get_vw(50);
      margin: get_vw(44) auto 0;
      @include pc-fluid-size(width, (1280));
      @include pc-fluid-size(height, (50));
      @include pc-fluid-size(margin-top, (100));
      @include pc-fluid-size(padding, (0));
      @include pc-fluid-size(column-gap, (2));
      @include min-screen{
        margin-inline: center;
      }
      & li{
        width: get_vw(155);
        height: get_vw(50);
        margin-inline: get_vw(2);
        display: block;
        text-align: center;
        font-size: get_vw(12);
        font-weight: 500;
        color: $c_black;
        background-color: $c_lightgray;
        transition: all 0.4s ease;
        @include pc-fluid-size(width, (208));
        @include pc-fluid-size(height, (50));
        @include pc-fluid-size(font-size, (14));
        @include pc-fluid-size(margin-inline, (1));
        @include pc-fluid-size(padding, (0));
        @include min-screen{
          cursor: pointer;
        }
        &:hover{
          & a{
            color: $c_white;
          }
        }
        &.main:hover{
          background-color: $c_green;
        }
        &.tora:hover{
          background-color: $c_red;
        }
        &.kochi:hover{
          background-color: $c_blue;
        }
        &.wing:hover{
          background-color: $c_orange;
        }
        &.monchi:hover{
          background-color: $c_pink;
        }
        &.iris:hover{
          background-color: $c_purple;
        }
        &:first-child{
          margin-left: get_vw(10);
          border-radius: get_vw(10) 0 0 get_vw(10);
          @include pc-fluid-size(margin-left, (0));
          @include pc-fluid-size(border-radius, (10 0 0 10));
        }
        &:last-child{
          margin-right: get_vw(10);
          border-radius: 0 get_vw(10) get_vw(10) 0;
          @include pc-fluid-size(margin-right, (0));
          @include pc-fluid-size(border-radius, (0 10 10 0));
        }
        & a{
          display: block;
          width: 100%;
          height: 100%;
          @include center;
        }
      }
    }
  }
  &__section{
    margin-top: get_vw(80);
    padding-inline: get_vw(20);
    @include pc-fluid-size(width, (1282));
    @include pc-fluid-size(margin-top, (100));
    @include pc-fluid-size(padding-inline, (78));
    @include min-screen{
      margin-inline: auto;
    }
  }
  &__h2{
    height: get_vw(60);
    font-size: get_vw(24);
    font-weight: 400;
    text-align: center;
    border: solid get_vw(2) transparent;
    border-radius: get_vw(10);
    @include pc-fluid-size(width, (400));
    @include pc-fluid-size(height, (80));
    @include pc-fluid-size(font-size, (40));
    @include pc-fluid-size(border-width, (2));
    @include pc-fluid-size(border-radius, (20));
    @include center;
    @include min-screen{
      margin-inline: auto;
    }
    &.main{
      border-color: $c_green;
    }
    &.tora{
      border-color: $c_red;
    }
    &.kochi{
      border-color: $c_blue;
    }
    &.wing{
      border-color: $c_orange;
    }
    &.monchi{
      border-color: $c_pink;
    }
    &.iris{
      border-color: $c_purple;
    }
  }
  &__map{
    height: get_vw(428);
    margin-top: get_vw(60);
    border-radius: get_vw(40);
    overflow: hidden;
    @include pc-fluid-size(height, (428));
    @include pc-fluid-size(margin-top, (80));
    @include pc-fluid-size(border-radius, (40));
  }
  &__txt{
    margin-top: get_vw(40);
    font-size: get_vw(24);
    font-weight: 500;
    line-height: calc(32/24);
    @include pc-fluid-size(margin-top, (40));
    @include pc-fluid-size(font-size, (24));
    @include min-screen{
      color: $c_black;
    }
  }
  &__list{
    margin-top: get_vw(40);
    display: flex;
    flex-direction: column;
    row-gap: get_vw(20);
    @include pc-fluid-size(margin-top, (40));
    @include pc-fluid-size(row-gap, (20));
    & li{
      padding: get_vw(22) get_vw(22) get_vw(22) get_vw(58);
      display: flex;
      width: 100%;
      align-items: center;
      background-color: $c_lightgray;
      border-radius: get_vw(8);
      @include pc-fluid-size(width, (586));
      @include pc-fluid-size(height, (60));
      @include pc-fluid-size(padding, (0 0 0 58));
      @include pc-fluid-size(border-radius, (8));
    }
  }
  &__label{
    width: get_vw(95);
    flex-shrink: 0;
    font-size: get_vw(18);
    font-weight: 500;
    position: relative;
      @include pc-fluid-size(width, (100));
      @include pc-fluid-size(font-size, (18));
    @include before{
      position: absolute;
      top: 50%;
      right: get_vw(110);
      transform: translateY(-50%);
      @include pc-fluid-size(right, (118));
    }
    &.walk{
      @include before{
        background-image: url('../img/access/icon_walk.png');
        background-size: 100% 100%;
        width: get_vw(12);
        height: get_vw(19);
        @include pc-fluid-size(width, (12));
        @include pc-fluid-size(height, (19));
      }
    }
    &.cycle{
      @include before{
        background-image: url('../img/access/icon_cycle.png');
        background-size: 100% 100%;
        width: get_vw(23);
        height: get_vw(16);
        @include pc-fluid-size(width, (23));
        @include pc-fluid-size(height, (16));
      }
    }
    &.taxi{
      @include before{
        background-image: url('../img/access/icon_taxi.png');
        background-size: 100% 100%;
        width: get_vw(19);
        height: get_vw(19);
        @include pc-fluid-size(width, (19));
        @include pc-fluid-size(height, (19));
      }
    }
    &.bus{
      @include before{
        background-image: url('../img/access/icon_bus.png');
        background-size: 100% 100%;
        width: get_vw(23);
        height: get_vw(12);
        @include pc-fluid-size(width, (23));
        @include pc-fluid-size(height, (12));
      }
    }
  }
  &__detail{
    font-size: get_vw(18);
    font-weight: 300;
    line-height: calc(28/18);
    @include pc-fluid-size(font-size, (18));
  }
  &__link{
    display: block;
    position: relative;
    margin-top: get_vw(20);
    padding-left: get_vw(40);
    font-size: get_vw(18);
    font-weight: 500;
    color: $c_blue;
    text-decoration: underline;
    text-decoration-thickness: get_vw(2);
    text-underline-offset: get_vw(2);
    @include pc-fluid-size(margin-top, (20));
    @include pc-fluid-size(padding-left, (40));
    @include pc-fluid-size(font-size, (18));
    @include pc-fluid-size(text-decoration-thickness, (2));
    @include pc-fluid-size(text-underline-offset, (2));
    @include before{
      position: absolute;
      top: 50%;
      left: get_vw(0);
      transform: translateY(-50%);
      background-image: url('../img/access/icon_bus_blue.png');
      background-size: 100% 100%;
      width: get_vw(23);
      height: get_vw(12);
      @include pc-fluid-size(width, (26));
      @include pc-fluid-size(height, (14));
      @include min-screen{
        top: 60%;
      }
    }
  }
  &__btn{
    @include btn-i;
    margin-top: get_vw(40);
    width: 100%;
    font-size: get_vw(14);
    justify-content: center;
    @include pc-fluid-size(margin-top, (40));
    @include pc-fluid-size(width, (600));
    @include pc-fluid-size(height, (80));
    @include pc-fluid-size(font-size, (18));
    @include pc-fluid-size(border-radius, (100));
    @include min-screen{
      &:hover{
        @include after{
          background-color: $c_ivory;
        }
      }
    }
    @include after{
      @include pc-fluid-size(width, (60));
      @include pc-fluid-size(height, (60));
      @include pc-fluid-size(right, (10));
      top: 50%;
      transform: translateY(-50%);
      background-color: #fff;
    }
  }
  &__txt-last{
    margin-top: get_vw(80);
    flex-shrink: 0;
    font-size: get_vw(19);
    font-weight: 500;
    line-height: calc(28/18);
    text-align: center;
    position: relative;
    @include pc-fluid-size(margin-top, (100));
    @include pc-fluid-size(font-size, (24));
  }
}