<div id="loading" class="loading js-hide">
  <div class="loading__logo">
    <img src="<%= relative_path %>assets/img/common/logo.png" alt="">
  </div>
  <p id="loadingBar" class="loading__bar"></p>
</div>
