@use 'setting/base';

// ここ以下は最初に削除してください。
// template
@use 'template/template';
@use 'template/template-another';

// partail
@use 'partial/header';
@use 'partial/gnavi';
@use 'partial/footer';
@use 'partial/common';
@use 'partial/detail';

//top
@use 'top/top';
@use 'top/top-banner';
@use 'top/top-news';
@use 'top/top-insta';
@use 'top/top-topic';
@use 'top/top-event';
@use 'top/top-about';
@use 'top/top-area';
@use 'top/top-map';
@use 'top/top-gallery';

//fixed
@use 'fixed';

//loading
@use 'loading/loading';

//overview
@use 'overview/overview';

//area
@use 'area/area';

//event
@use 'event/event';

//sponsors
@use 'sponsors/sponsors';
@use 'sponsors/sponsors-detail';

//support
@use 'support/support';

//news
@use 'news/news';

//access
@use 'access/access';

//animation
@use 'animation/animation';